<h2>People</h2>

<p>List all People</p>

<p>View people by type</p>


	  
	  
	  <h3>Browse by Attorneys</h3>



<span class="custom-dropdown custom-dropdown">
    <select class="custom-dropdown__select custom-dropdown__select" id="attorney">
<option value="./home.html">Select Attorney</option>
<option value="./search/?q=person:%22Addison,%20J.%20E.%22">Addison, J. E.</option>
<option value="./search/?q=person:%22Ashton,%20N.%22">Ashton, N.</option>
<option value="./search/?q=person:%22Balch,%20Lewis%20P.%20W.%22">Balch, Lewis P. W.</option>
<option value="./search/?q=person:%22Barrell,%20S.%20B.%22">Barrell, S. B.</option>    
<option value="./search/?q=person:%22Beale,%20Robert%22">Beale, Robert</option>  
<option value="./search/?q=person:%22Bradley,%20Joseph%20H.%22">Bradley, Joseph H.</option>
<option value="./search/?q=person:%22Brent,%20Robert%20James%22">Brent, Robert James</option>
<option value="./search/?q=person:%22Brent,%20William%20Leigh%22">Brent, William Leigh</option>
<option value="./search/?q=person:%22Burr%22">Burr</option>
<option value="./search/?q=person:%22Bussard,%20William%22">Bussard, William</option>
<option value="./search/?q=person:%22Caldwell,%20Elias%20Boudinot,%201776-1825%22">Caldwell, Elias Boudinot</option>
<option value="./search/?q=person:%22Carlisle,%20James%20M.%22">Carlisle, James M.</option>
<option value="./search/?q=person:%22Clark%22">Clark</option>
<option value="./search/?q=person:%22Cleary%22">Cleary</option>
<option value="./search/?q=person:%22Cox,%20Clement%22">Cox, Clement</option>
<option value="./search/?q=person:%22Coxe,%20Richard%20S.%20(Richard%20Smith),%201792-1865%22">Coxe, Richard S.</option> 
<option value="./search/?q=person:%22Crawford,%20James%22">Crawford, James</option>
<option value="./search/?q=person:%22Dandridge%22">Dandridge</option>
<option value="./search/?q=person:%22Dent,%20H.%20H.%22">Dent, H. H.</option> 
<option value="./search/?q=person:%22Dermott,%20John%20J.%22">Dermott, John J.</option> 
<option value="./search/?q=person:%22Dunlop,%20James,%20b.%201793%22">Dunlop, James</option>
<option value="./search/?q=person:%22Elkins,%20Jeremiah%22">Elkins, Jeremiah</option>
<option value="./search/?q=person:%22Ennis%22">Ennis</option>
<option value="./search/?q=person:%22Fendall,%20P.%20R.%22">Fendall, P. R.</option>
<option value="./search/?q=person:%22Forrest%22">Forrest</option>
<option value="./search/?q=person:%22Giberson,%20Gilbert%20L.%22">Giberson, Gilbert L.</option>
<option value="./search/?q=person:%22Green%22">Green</option>
<option value="./search/?q=person:%22Green,%20Benjamin%20Edwards,%201822-1907%22">Green, Benjamin Edwards</option>
<option value="./search/?q=person:%22Green,%20Duff,%201791-1875%22">Green, Duff</option>
<option value="./search/?q=person:%22Hall,%20David%20A.%22">Hall, David A.</option>
<option value="./search/?q=person:%22Hay,%20George,%201765-1830%22">Hay, George</option>
<option value="./search/?q=person:%22Hellen,%20J.%22">Hellen, J.</option>
<option value="./search/?q=person:%22Hiort,%20Henry%22">Hiort, Henry</option>
<option value="./search/?q=person:%22Hoban,%20James%22">Hoban, James</option>
<option value="./search/?q=person:%22Jones,%20Walter%22">Jones, Walter</option>
<option value="./search/?q=person:%22Key,%20Francis%20Scott,%201779-1843%22">Key, Francis Scott</option>
<option value="./search/?q=person:%22Law,%20John%22">Law, John</option>
<option value="./search/?q=person:%22Lawrence,%20A.%20H.%22">Lawrence, A. H.</option>
<option value="./search/?q=person:%22Lear,%20B.L.%22">Lear, B. L.</option>
<option value="./search/?q=person:%22Lee,%20Charles,%201758-1815%22">Lee, Charles</option>
<option value="./search/?q=person:%22Lee,%20Edmund%20J.%22">Lee, Edmund J.</option>
<option value="./search/?q=person:%22Lee,%20L.%20C.%22">Lee, L. C.</option>
<option value="./search/?q=person:%22Lenox%22">Lenox</option>
<option value="./search/?q=person:%22Linton,%20John%20A.%22">Linton, John A.</option>
<option value="./search/?q=person:%22Lowe,%20E.%20M.%22">Lowe, E. M.</option>
<option value="./search/?q=person:%22Marbury,%20John%22">Marbury, John</option>
<option value="./search/?q=person:%22May,%20H.%22">May, H.</option>
<option value="./search/?q=person:%22Morfit,%20H.%20M.%22">Morfit, H. M.</option>
<option value="./search/?q=person:%22Morgan%22">Morgan</option>
<option value="./search/?q=person:%22Morsell,%20James%20Sewall%22">Morsell, James Sewall</option>
<option value="./search/?q=person:%22Norris,%20John%20E.%22">Norris, John E.</option>
<option value="./search/?q=person:%22P.%20P.%22">P. P.</option>
<option value="./search/?q=person:%22Randall,%20Thomas%22">Randall, Thomas</option>
<option value="./search/?q=person:%22Ratcliffe,%20Daniel%22">Ratcliffe, Daniel</option>
<option value="./search/?q=person:%22Redin,%20W.%22">Redin, W.</option>
<option value="./search/?q=person:%22Scott,%20W.%20W.%22">Scott, W. W.</option>
<option value="./search/?q=person:%22Simms,%20Charles%20H.%22">Simms, Charles H.</option>
<option value="./search/?q=person:%22Samiders%22">Samiders</option>
<option value="./search/?q=person:%22Senn,%20W.%22">Senn, W.</option>
<option value="./search/?q=person:%22Sheahan,%20J.%20W.%22">Sheahan, J. W.</option>
<option value="./search/?q=person:%22Smith%22">Smith</option>
<option value="./search/?q=person:%22Smith%20B.%20P.%22">Smith, B. P.</option>
<option value="./search/?q=person:%22Smith%20Fleet%22">Smith, Fleet</option>
<option value="./search/?q=person:%22Smith%20I.%20B.%20H.%22">Smith, I. B. H.</option>
<option value="./search/?q=person:%22Taney,%20August%22">Taney, August</option>
<option value="./search/?q=person:%22Travers,%20George%22">Travers, George</option>
<option value="./search/?q=person:%22Turner,%20Thomas%22">Turner, Thomas</option>
<option value="./search/?q=person:%22Wallach,%20Charles%20S.%22">Wallach, Charles S.</option>
<option value="./search/?q=person:%22Wallach,%20Richard%22">Wallach, Richard</option>
<option value="./search/?q=person:%22Warner%22">Warner</option>
<option value="./search/?q=person:%22Williams%22">Williams</option>
<option value="./search/?q=person:%22Wattenton,%20George%22">Wattenton, George</option>
<option value="./search/?q=person:%22Woodward,%20William%20R.%22">Woodward, William R.</option>
    </select>
</span>

	  
	  

	  
	  
	  
	  <h3>Browse by Plaintiffs</h3>


<span class="custom-dropdown custom-dropdown">
    <select class="custom-dropdown__select custom-dropdown__select" id="attorney">
<option value="./home.html">Select Plaintiff</option>
<option value="./search/?q=person:%22Addison,%20J.%20E.%22">Addison, J. E.</option>
<option value="./search/?q=person:%22Ashton,%20N.%22">Ashton, N.</option>
<option value="./search/?q=person:%22Balch,%20Lewis%20P.%20W.%22">Balch, Lewis P. W.</option>
<option value="./search/?q=person:%22Barrell,%20S.%20B.%22">Barrell, S. B.</option>    
<option value="./search/?q=person:%22Beale,%20Robert%22">Beale, Robert</option>  
<option value="./search/?q=person:%22Bradley,%20Joseph%20H.%22">Bradley, Joseph H.</option>
<option value="./search/?q=person:%22Brent,%20Robert%20James%22">Brent, Robert James</option>
<option value="./search/?q=person:%22Brent,%20William%20Leigh%22">Brent, William Leigh</option>
<option value="./search/?q=person:%22Burr%22">Burr</option>
<option value="./search/?q=person:%22Bussard,%20William%22">Bussard, William</option>
<option value="./search/?q=person:%22Caldwell,%20Elias%20Boudinot,%201776-1825%22">Caldwell, Elias Boudinot</option>
<option value="./search/?q=person:%22Carlisle,%20James%20M.%22">Carlisle, James M.</option>
<option value="./search/?q=person:%22Clark%22">Clark</option>
<option value="./search/?q=person:%22Cleary%22">Cleary</option>
<option value="./search/?q=person:%22Cox,%20Clement%22">Cox, Clement</option>
<option value="./search/?q=person:%22Coxe,%20Richard%20S.%20(Richard%20Smith),%201792-1865%22">Coxe, Richard S.</option> 
<option value="./search/?q=person:%22Crawford,%20James%22">Crawford, James</option>
<option value="./search/?q=person:%22Dandridge%22">Dandridge</option>
<option value="./search/?q=person:%22Dent,%20H.%20H.%22">Dent, H. H.</option> 
<option value="./search/?q=person:%22Dermott,%20John%20J.%22">Dermott, John J.</option> 
<option value="./search/?q=person:%22Dunlop,%20James,%20b.%201793%22">Dunlop, James</option>
<option value="./search/?q=person:%22Elkins,%20Jeremiah%22">Elkins, Jeremiah</option>
<option value="./search/?q=person:%22Ennis%22">Ennis</option>
<option value="./search/?q=person:%22Fendall,%20P.%20R.%22">Fendall, P. R.</option>
<option value="./search/?q=person:%22Forrest%22">Forrest</option>
<option value="./search/?q=person:%22Giberson,%20Gilbert%20L.%22">Giberson, Gilbert L.</option>
<option value="./search/?q=person:%22Green%22">Green</option>
<option value="./search/?q=person:%22Green,%20Benjamin%20Edwards,%201822-1907%22">Green, Benjamin Edwards</option>
<option value="./search/?q=person:%22Green,%20Duff,%201791-1875%22">Green, Duff</option>
<option value="./search/?q=person:%22Hall,%20David%20A.%22">Hall, David A.</option>
<option value="./search/?q=person:%22Hay,%20George,%201765-1830%22">Hay, George</option>
<option value="./search/?q=person:%22Hellen,%20J.%22">Hellen, J.</option>
<option value="./search/?q=person:%22Hiort,%20Henry%22">Hiort, Henry</option>
<option value="./search/?q=person:%22Hoban,%20James%22">Hoban, James</option>
<option value="./search/?q=person:%22Jones,%20Walter%22">Jones, Walter</option>
<option value="./search/?q=person:%22Key,%20Francis%20Scott,%201779-1843%22">Key, Francis Scott</option>
<option value="./search/?q=person:%22Law,%20John%22">Law, John</option>
<option value="./search/?q=person:%22Lawrence,%20A.%20H.%22">Lawrence, A. H.</option>
<option value="./search/?q=person:%22Lear,%20B.L.%22">Lear, B. L.</option>
<option value="./search/?q=person:%22Lee,%20Charles,%201758-1815%22">Lee, Charles</option>
<option value="./search/?q=person:%22Lee,%20Edmund%20J.%22">Lee, Edmund J.</option>
<option value="./search/?q=person:%22Lee,%20L.%20C.%22">Lee, L. C.</option>
<option value="./search/?q=person:%22Lenox%22">Lenox</option>
<option value="./search/?q=person:%22Linton,%20John%20A.%22">Linton, John A.</option>
<option value="./search/?q=person:%22Lowe,%20E.%20M.%22">Lowe, E. M.</option>
<option value="./search/?q=person:%22Marbury,%20John%22">Marbury, John</option>
<option value="./search/?q=person:%22May,%20H.%22">May, H.</option>
<option value="./search/?q=person:%22Morfit,%20H.%20M.%22">Morfit, H. M.</option>
<option value="./search/?q=person:%22Morgan%22">Morgan</option>
<option value="./search/?q=person:%22Morsell,%20James%20Sewall%22">Morsell, James Sewall</option>
<option value="./search/?q=person:%22Norris,%20John%20E.%22">Norris, John E.</option>
<option value="./search/?q=person:%22P.%20P.%22">P. P.</option>
<option value="./search/?q=person:%22Randall,%20Thomas%22">Randall, Thomas</option>
<option value="./search/?q=person:%22Ratcliffe,%20Daniel%22">Ratcliffe, Daniel</option>
<option value="./search/?q=person:%22Redin,%20W.%22">Redin, W.</option>
<option value="./search/?q=person:%22Scott,%20W.%20W.%22">Scott, W. W.</option>
<option value="./search/?q=person:%22Simms,%20Charles%20H.%22">Simms, Charles H.</option>
<option value="./search/?q=person:%22Samiders%22">Samiders</option>
<option value="./search/?q=person:%22Senn,%20W.%22">Senn, W.</option>
<option value="./search/?q=person:%22Sheahan,%20J.%20W.%22">Sheahan, J. W.</option>
<option value="./search/?q=person:%22Smith%22">Smith</option>
<option value="./search/?q=person:%22Smith%20B.%20P.%22">Smith, B. P.</option>
<option value="./search/?q=person:%22Smith%20Fleet%22">Smith, Fleet</option>
<option value="./search/?q=person:%22Smith%20I.%20B.%20H.%22">Smith, I. B. H.</option>
<option value="./search/?q=person:%22Taney,%20August%22">Taney, August</option>
<option value="./search/?q=person:%22Travers,%20George%22">Travers, George</option>
<option value="./search/?q=person:%22Turner,%20Thomas%22">Turner, Thomas</option>
<option value="./search/?q=person:%22Wallach,%20Charles%20S.%22">Wallach, Charles S.</option>
<option value="./search/?q=person:%22Wallach,%20Richard%22">Wallach, Richard</option>
<option value="./search/?q=person:%22Warner%22">Warner</option>
<option value="./search/?q=person:%22Williams%22">Williams</option>
<option value="./search/?q=person:%22Wattenton,%20George%22">Wattenton, George</option>
<option value="./search/?q=person:%22Woodward,%20William%20R.%22">Woodward, William R.</option>
    </select>
</span>

	  

	  
	  
	  <h3>Browse by Defendants</h3>
<span class="custom-dropdown custom-dropdown">
    <select class="custom-dropdown__select custom-dropdown__select" id="attorney">
<option value="./home.html">Select Defendant</option>
<option value="./search/?q=person:%22Addison,%20J.%20E.%22">Addison, J. E.</option>
<option value="./search/?q=person:%22Ashton,%20N.%22">Ashton, N.</option>
<option value="./search/?q=person:%22Balch,%20Lewis%20P.%20W.%22">Balch, Lewis P. W.</option>
<option value="./search/?q=person:%22Barrell,%20S.%20B.%22">Barrell, S. B.</option>    
<option value="./search/?q=person:%22Beale,%20Robert%22">Beale, Robert</option>  
<option value="./search/?q=person:%22Bradley,%20Joseph%20H.%22">Bradley, Joseph H.</option>
<option value="./search/?q=person:%22Brent,%20Robert%20James%22">Brent, Robert James</option>
<option value="./search/?q=person:%22Brent,%20William%20Leigh%22">Brent, William Leigh</option>
<option value="./search/?q=person:%22Burr%22">Burr</option>
<option value="./search/?q=person:%22Bussard,%20William%22">Bussard, William</option>
<option value="./search/?q=person:%22Caldwell,%20Elias%20Boudinot,%201776-1825%22">Caldwell, Elias Boudinot</option>
<option value="./search/?q=person:%22Carlisle,%20James%20M.%22">Carlisle, James M.</option>
<option value="./search/?q=person:%22Clark%22">Clark</option>
<option value="./search/?q=person:%22Cleary%22">Cleary</option>
<option value="./search/?q=person:%22Cox,%20Clement%22">Cox, Clement</option>
<option value="./search/?q=person:%22Coxe,%20Richard%20S.%20(Richard%20Smith),%201792-1865%22">Coxe, Richard S.</option> 
<option value="./search/?q=person:%22Crawford,%20James%22">Crawford, James</option>
<option value="./search/?q=person:%22Dandridge%22">Dandridge</option>
<option value="./search/?q=person:%22Dent,%20H.%20H.%22">Dent, H. H.</option> 
<option value="./search/?q=person:%22Dermott,%20John%20J.%22">Dermott, John J.</option> 
<option value="./search/?q=person:%22Dunlop,%20James,%20b.%201793%22">Dunlop, James</option>
<option value="./search/?q=person:%22Elkins,%20Jeremiah%22">Elkins, Jeremiah</option>
<option value="./search/?q=person:%22Ennis%22">Ennis</option>
<option value="./search/?q=person:%22Fendall,%20P.%20R.%22">Fendall, P. R.</option>
<option value="./search/?q=person:%22Forrest%22">Forrest</option>
<option value="./search/?q=person:%22Giberson,%20Gilbert%20L.%22">Giberson, Gilbert L.</option>
<option value="./search/?q=person:%22Green%22">Green</option>
<option value="./search/?q=person:%22Green,%20Benjamin%20Edwards,%201822-1907%22">Green, Benjamin Edwards</option>
<option value="./search/?q=person:%22Green,%20Duff,%201791-1875%22">Green, Duff</option>
<option value="./search/?q=person:%22Hall,%20David%20A.%22">Hall, David A.</option>
<option value="./search/?q=person:%22Hay,%20George,%201765-1830%22">Hay, George</option>
<option value="./search/?q=person:%22Hellen,%20J.%22">Hellen, J.</option>
<option value="./search/?q=person:%22Hiort,%20Henry%22">Hiort, Henry</option>
<option value="./search/?q=person:%22Hoban,%20James%22">Hoban, James</option>
<option value="./search/?q=person:%22Jones,%20Walter%22">Jones, Walter</option>
<option value="./search/?q=person:%22Key,%20Francis%20Scott,%201779-1843%22">Key, Francis Scott</option>
<option value="./search/?q=person:%22Law,%20John%22">Law, John</option>
<option value="./search/?q=person:%22Lawrence,%20A.%20H.%22">Lawrence, A. H.</option>
<option value="./search/?q=person:%22Lear,%20B.L.%22">Lear, B. L.</option>
<option value="./search/?q=person:%22Lee,%20Charles,%201758-1815%22">Lee, Charles</option>
<option value="./search/?q=person:%22Lee,%20Edmund%20J.%22">Lee, Edmund J.</option>
<option value="./search/?q=person:%22Lee,%20L.%20C.%22">Lee, L. C.</option>
<option value="./search/?q=person:%22Lenox%22">Lenox</option>
<option value="./search/?q=person:%22Linton,%20John%20A.%22">Linton, John A.</option>
<option value="./search/?q=person:%22Lowe,%20E.%20M.%22">Lowe, E. M.</option>
<option value="./search/?q=person:%22Marbury,%20John%22">Marbury, John</option>
<option value="./search/?q=person:%22May,%20H.%22">May, H.</option>
<option value="./search/?q=person:%22Morfit,%20H.%20M.%22">Morfit, H. M.</option>
<option value="./search/?q=person:%22Morgan%22">Morgan</option>
<option value="./search/?q=person:%22Morsell,%20James%20Sewall%22">Morsell, James Sewall</option>
<option value="./search/?q=person:%22Norris,%20John%20E.%22">Norris, John E.</option>
<option value="./search/?q=person:%22P.%20P.%22">P. P.</option>
<option value="./search/?q=person:%22Randall,%20Thomas%22">Randall, Thomas</option>
<option value="./search/?q=person:%22Ratcliffe,%20Daniel%22">Ratcliffe, Daniel</option>
<option value="./search/?q=person:%22Redin,%20W.%22">Redin, W.</option>
<option value="./search/?q=person:%22Scott,%20W.%20W.%22">Scott, W. W.</option>
<option value="./search/?q=person:%22Simms,%20Charles%20H.%22">Simms, Charles H.</option>
<option value="./search/?q=person:%22Samiders%22">Samiders</option>
<option value="./search/?q=person:%22Senn,%20W.%22">Senn, W.</option>
<option value="./search/?q=person:%22Sheahan,%20J.%20W.%22">Sheahan, J. W.</option>
<option value="./search/?q=person:%22Smith%22">Smith</option>
<option value="./search/?q=person:%22Smith%20B.%20P.%22">Smith, B. P.</option>
<option value="./search/?q=person:%22Smith%20Fleet%22">Smith, Fleet</option>
<option value="./search/?q=person:%22Smith%20I.%20B.%20H.%22">Smith, I. B. H.</option>
<option value="./search/?q=person:%22Taney,%20August%22">Taney, August</option>
<option value="./search/?q=person:%22Travers,%20George%22">Travers, George</option>
<option value="./search/?q=person:%22Turner,%20Thomas%22">Turner, Thomas</option>
<option value="./search/?q=person:%22Wallach,%20Charles%20S.%22">Wallach, Charles S.</option>
<option value="./search/?q=person:%22Wallach,%20Richard%22">Wallach, Richard</option>
<option value="./search/?q=person:%22Warner%22">Warner</option>
<option value="./search/?q=person:%22Williams%22">Williams</option>
<option value="./search/?q=person:%22Wattenton,%20George%22">Wattenton, George</option>
<option value="./search/?q=person:%22Woodward,%20William%20R.%22">Woodward, William R.</option>
    </select>
</span>



