<div class="introduction">

  <h2>A Note on Methodology and Sources</h2>

  <h3>1822 Directory</h3>

  <p>The 1822 city directory for Washington, D.C., is an incredibly rich resource, but one that presents a unique set of problems. First, the directory does not come close to providing information on all of the city's inhabitants. It lists the residences and business locations for about 2,000 individuals, while noting – per the 1820 Census – that over 13,000 people lived in Washington, D.C. Only a little over 10% of the population is included in the directory, and as a result, this map. It does not even take into account the 19,000 additional people living in Alexandria, Georgetown, and Washington and Alexandria Counties who were also not included in the scope of the directory.</p>

  <p>Why is this picture so incomplete? The answer seems to be that the directory itself reflects the structures of the world in which it was written. The public sphere of Washington, D.C., buttressed by gendered and racial hierarchies, was dominated by white men, and it is these white men who appear overwhelmingly in the directory's pages. White women, who made up 4,820 of the city's inhabitants, do not appear in the directory unless they were widows, operated their own businesses, or otherwise served as heads of household. Free black individuals also appear in the directory, although not at the number of 1,696 as reported in the census. The city's 1,945 enslaved inhabitants are also absent from the directory, unless they lived independently and somehow managed to be mistaken for free blacks. Children of any race do not appear in the directory, nor do transient workers such as sailors.</p>

  <p>Still, this directory remains an incredibly valuable resource for understanding freedom suits. Enslaved petitioners stepped into the public sphere when they made the case for their freedom – the same public sphere dominated by the names peppering the 1822 directory. Those names, although far from providing a complete picture of life in urban Washington, D.C., appear throughout the case papers as jurors, lawyers, witnesses, defendants, and more. About one in every five people listed in the directory has a link to a person page on <em>O Say Can You See</em>, showing some sort of direct connection to the freedom petition process. By mapping out the directory, we hope not only to highlight the spatial relationships and patterns that undergirded legal and personal connections, but also to demonstrate the ubiquity of participation in the freedom suit process and help bring to life an almost 200-year-old snapshot of the nation's capital.</p>

  <h3>Names & Addresses</h3>

  <p>Some ambiguities arise when trying to reconcile the data from the directory with data from the freedom suits. To provide a fictitious example, imagine that a John Smith appears as a juror in 1822, but five John Smiths are listed in the directory for that year. Without further information, it is almost impossible to know with confidence which John Smith is the one appearing in the court documents. Misspellings, movement in and out of the city, sons named after fathers, and the inconsistent use of initials all add to the confusion.</p>

  <p>Another problem presented by the 1822 directory is the ambiguity that oftentimes defines its writing. Actual house numbers are not listed, and the directory's creators contented themselves to provide locations such as "10w near Penn Ave," or "corn South Cap St and Ns." What exactly constitutes "near" or which corner of an intersection is meant is left undefined. With this in mind, the locations on the map do come relatively close to the actual locations of the city's historical inhabitants, but complete accuracy cannot be expected. The locations of larger landmarks, such as churches, hotels, and banks were slightly easier to determine, and have been placed on the map as a reference point for those hoping to glean a greater understanding of the urban geography of Washington, D.C., in 1822.</p>

  <a name="race"></a>
  <h3>Race</h3>

  <p>The Washington, D.C., of 1822 was governed by an oppressive racial hierarchy, and this was reflected in the language of the city directory. Directory-makers made a notation of "col'd (wo)man" next to the residents of African-American descent.</p>

  <figure class="figure figure_large">
    <%= image_tag "map_directory/example-race-directory.png",
        alt: "Example records from the 1822 directory with racial descriptions" %>
    <figcaption>Judah Delano, <em>The Washington Directory</em> (Washington, D.C., 1822), page 72.</figcaption>
  </figure>

  <p>To reproduce the racial language of the directory is to reproduce the language of oppression and white supremacy, but to use more modern or acceptable language may be misleading, providing an inaccurate image of the world in which freedom petitioners lived and the structures they navigated in the pursuit of their freedom. For this reason, the original language of the directory is preserved in this map.</p>

  <a name="occupations"></a>
  <h3>Occupations</h3>
  <p>On the topic of decisions made regarding data, a brief word is required regarding the categorizations of occupational status in the map. All occupations were consolidated into eight categories based on HISCO occupational codes. The categories included professional, administrative, clerical, sales, service, agricultural, and labor. To better reflect the working realities of life in Washington, D.C., the "labor" classification was broken down further into "skilled" and "unskilled."</p>

  <blockquote>

    <p><em>Administrative</em> includes managerial jobs such as foreman, magistrate, and various government administrators.</p>

    <p><em>Agricultural</em> jobs include farmer, gardener, farrier, and other animal husbandry work.</p>

    <p><em>Clerical</em> is a category that encompasses the various clerks and messengers as well as inspectors and paymasters.</p>

    <p><em>Professional</em> contains careers such as attorney, doctor, teacher, clergyman, and ships pilots.</p>

    <p><em>Sales</em> jobs include merchants and shop owners.</p>

    <p><em>Service</em> work refers to such jobs as barber, tavern keeper, members of the military, and police officers.</p>

    <p><em>Skilled</em> labor requires a specialization, such as blacksmith, printer, shoemaker, or tailor.</p>

    <p><em>Unskilled</em> labor is for non-specialized work. These individuals are listed as "laborers" in the directory.</p>

  </blockquote>

  <p>It is our hope that transparency concerning all of these potential problems and decisions will help this map achieve its greatest possible usefulness. </p>

</div>

<div class="citation">

  <h3>How To Cite this Map</h3>

  <p>Patrick Hoehne, Kaci Nash, Jessica Dussault, Karin Dalziel, and William G. Thomas III. "Early Washington, D.C., Interactive Map." Map. 1822, 1834. <em>O Say Can You See: Early Washington, D.C. Law & Family</em>, 2019. Using Leaflet. (accessed Month DD, YYYY).</p>

</div>

<hr/>

<div class="sources">

  <h4>Sources</h4>

  <p class="small">Delano, Judah. <a href="https://books.google.com/books?id=-EVOAQAAMAAJ&pg=PP7#v=onepage&q&f=false" target="new"><em>The Washington Directory</em></a>. Washington: William Duncan, Twelfth Street West, 1822.</p>
  <p class="small">Elliot, S. Alfred, and William Elliot. <em>Plan of the City of Washington</em>. Map. Washington, D.C.: S. A. Elliot, 1822. Library of Congress Maps Collection. <a href="https://www.loc.gov/item/88694090/" target="new">https://www.loc.gov/item/88694090/</a> (accessed August 22, 2018).</p>
  <p class="small">Tanner, Henry S. <em>City of Washington</em>. Map. Philadelphia: H. S. Tanner, 1836. David Rumsey Map Collection. <a href="https://www.davidrumsey.com/luna/servlet/s/39mn62" target="new">https://www.davidrumsey.com/luna/servlet/s/39mn62</a> (accessed August 22, 2018).</p>
  <p class="small">Flag and Public Building icons by <a href="https://icons8.com/license">Icons8</a>.</p>

</div>
