<h2>Maps</h2>

<p>These interactive maps combine information from the 1822 and 1834 city directories with historic maps of Washington, D.C., to create a spatial representation of the capital city's earliest residents and neighborhoods.</p>

    <h3 class="story_title">
      <%= link_to "Early Washington, D.C., Interactive Map", map_dc_path %>
    </h3>

	<div class="figure_left figure_small">
    <%= link_to map_dc_path do %><%= image_tag("map_directory_preview.jpg") %><% end %>
    </div><!-- end figure -->

    <p>This map attempts to reconstruct who lived where in as much of early Washington, D.C., as we can, including the residents of Georgetown and Alexandria. We have cross-referenced the names in the city directories with names found in the D.C. Circuit Court case files for petitions for freedom, plotting jurors, witnesses, lawyers, plaintiffs, defendants, and other participants in the freedom suits. We have cross-referenced the names with other important sources, including the approximately 1,000 signatories of the 1828 Memorial to abolish slavery in the District. In the first instance, this map attempts to locate all inhabitants of early Washington, D.C. And second, it allows scholars, teachers, students, researchers, and genealogists to query the database for individuals and their spatial relationships in the city.</p>

<h3>Story Maps</h3>

<ul>
<li><h4 class="story_title"><a href="https://www.arcgis.com/apps/MapSeries/index.html?appid=644c89d35c57463b891f39bcb6f75af6" target="new">Mapping Early Washington, D.C., Law &amp; Family: 1822</a></h4>

<p>A Story Map exploring the 1822 city directory for Washington, D.C.</p></li>

<li><h4 class="story_title">Mapping Early Washington, D.C., Law &amp; Family: 1834</h4>

<p>A Story Map in development.</p></li>

</ul>

<h3>Historical Maps of Early Washington, D.C.</h3>

<ul>
<li>Bussard, William and William Harrison. <em>Map of Georgetown in the District of Columbia.</em> Map. 1830. Library of Congress Geography and Map Division. <a href="https://www.loc.gov/item/88693292/">https://www.loc.gov/item/88693292/</a></li>
<li>Elliot, S. Alfred and William Elliot. <em>Plan of the City of Washington.</em> Map. Washington, D.C.: S. A. Elliot, 1822. Library of Congress Geography and Map Division. <a href="https://www.loc.gov/item/88694090/">https://www.loc.gov/item/88694090/</a></li>
<li>Ewing, Maskell C. and T Sinclair. <em>Plan of the town of Alexandria, D.C. with the environs: exhibiting the outlet of the Alexandria Canal, the shipping channel, wharves, Hunting Cr. &amp;c.</em> Map. Philadelphia: Lith. of T. Sinclair, 1845. Library of Congress Geography and Map Division. <a href="https://www.loc.gov/item/89692516/">https://www.loc.gov/item/89692516/</a></li>
<li>Tanner, Henry S. <em>City of Washington.</em> Map. Philadelphia: H. S. Tanner, 1836. David Rumsey Map Collection. <a href="https://www.davidrumsey.com/luna/servlet/s/39mn62">https://www.davidrumsey.com/luna/servlet/s/39mn62</a></li>
</ul>

