<%# If there is any content that is similar across all stories, it would go here %>

<%# Call the partial template for the requested story %>

<!-- maps -->

<ol class="breadcrumb">
  <li><%= link_to "Back to Maps", maps_path %></li>
</ol>


<%= render @sub_name %>