<h2>Duckett Family Network</h2>

<p>Members of the Duckett family were slaveholders in Prince George's County, Maryland. Thomas Duckett served as Associate Justice of the Prince George's County Court, and presided when a number of <%= link_to "Queen Family", {:name => "queen", :action => "sub"} %> freedom suits went to trial. His son Allen Bowie Duckett was appointed to the Circuit Court of the District of Columbia in 1806 and served on the court until his death in 1809.</p>

<hr/>

<p>
<ul class="tree">
    <li>Richard Duckett Sr. - b. 1675; d. 1754 - the first of the name to settle in Maryland<br/>
    + <em>Charity Jacob</em></li>  
        <ul><!-- start RD -->
            <li>Richard Duckett Jr. - b. 1704; d. 1788<br/>
            + <em>(1) Mary Nuthall</em>
                <ul><!-- start RD2 1 -->
                    <li>Richard Jacob Duckett - b. 1732 + <em>Martha Waring</em></li>
                </ul><!-- end RD2 1 -->
            + <em>(2) Elizabeth Williams</em></li>
                <ul><!-- start RD2 2 -->
                    <li>Elenor Duckett - b. 1737 + <em>Thomas Lyles</em></li>
                    <li>Martha Duckett - b. 1738</li>
                    <li>Rachael Duckett - b. 1739 + <em>Col. Thomas Williams</em></li>
                    <li>Charity Duckett - b. 1742 + <em>Thomas Boyd</em></li>
                    <li><%= link_to "Thomas Duckett", person_path("per.001488") %> - b. 1744 - associate judge, Prince George's County Court<br/>
                    + <em>Priscilla Bowie</em></li>
                        <ul><!-- start TD -->
                            <li>Dr. Richard Duckett</li>
                            <li>John Bowie Duckett</li>
                            <li>Priscilla Duckett + <em>Frederick Brooke</em></li>
                            <li><%= link_to "Allen Bowie Duckett", person_path("per.001543") %> - b. 1775; d. 1809 - judge, Circuit for the District of Columbia<br/>
                            + <em>Margaret Howard</em></li>
                                <ul><!-- start ABD -->
                                    <li>Thomas Duckett - b. 1797 + <em>(1) Catherine Goldsborough &#160;&#160; (2) Catherine Bowie Clark</em></li>
                                </ul><!-- end ABD -->
                        </ul><!-- end TD -->
                    <li>Baruch Duckett - b. 1745; d. 1810 + <em>Mary Bowie Beanes</em></li>
                    <li>Jacob Duckett - b. 1751<br/>
                    + <em>Mary Meeks Clagett</em></li>
                        <ul><!-- start JD -->
                            <li>Judson Magruder Duckett - b. 1800; d. 1871 + <em>Elizabeth Addison Gittings</em></li>
                        </ul><!-- end JD -->
                    <li>Anne Duckett - b. 1750 + <em>William Hall</em></li>
                    <li>Dr. Isaac Duckett - b. 1753; d. 1823 + <em>Mary Bowie</em></li>
                </ul><!-- end RD2 2 -->
        </ul><!-- end RD -->
</ul>
</p>




<hr/>

<h4>Sources</h4>
<div class="footnotes">

<p>Duckett Chart compiled by Albert Augustus Selden (n.p., c. 1938), in the possession of William G. Thomas III.</p>

</div>