


<h2>Key Family Network</h2>

<p>Francis Scott Key, his uncle, Philip Barton Key, and his son, Philip Barton Key II, represented both enslaved persons and their owners in freedom petitions before courts in Maryland and D.C.</p>


        <p>
          <ul class="tree">
            <li>Philip Key - born March 21, 1695-96 in Covent Garden, London,
              England; died August 20, 1764 in Chapitico, MD <br/> <i>+
                Susanna Barton Gardiner</i></li>
                <ul> <!-- start philip key children -->
                  <li>Francis Key - born 1728 in Hillilee, Chaptico, MD; died
                    November 1770<br/> <i>+ Ann Arnold Ross</i></li>
                    <ul> <!-- start francis key children -->
                      <li>Philip Barton Key<!--<%= link_to "Philip Barton Key", person_path("per.000000") %>--> - born April 12, 1757 in Cecil County,
                        MD; died July 18, 1815 in Georgetown, Washington, D.C.<br/> <i>+ Ann
                          Plater</i></li>
                      <li>John Ross Key - born September 19, 1754 in Annapolis,
                        MD; died October 13, 1821 <br/> <i>+ Ann Phoebe Penn Dagworthy
                          Charlton</i></li>
                          <ul> <!-- start john key children -->
                            <li><%= link_to "Francis Scott Key", person_path("per.000001") %> - born August 9, 1779 in Terra
                              Rubra Farm, MD; died January 11, 1843 <i>+ Mary Taylor
                                Lloyd</i></li>
                                <ul> <!-- start fsk children -->
                                    <li>Philip Barton Key II<!--<%= link_to "Philip Barton Key II", person_path("per.000000") %>--> - born 1818; died 1859</li>
                                </ul> <!-- end fsk children -->
                            <li>Ann Charlton Key <i>+ <%= link_to "Roger Brooke Taney", person_path("per.001155") %></i></li>
                          </ul> <!-- end john key children -->
                    </ul> <!-- end francis key children -->
                </ul> <!-- end philip key children -->
              </ul> <!-- end tree -->
        </p>




