


<h2>Key Family Network</h2>

<p>Francis Scott Key, his uncle, Philip Barton Key, and his son, Philip Barton Key II, represented both enslaved persons and their owners in freedom petitions before courts in Maryland and D.C.</p>


<p>
<ul class="tree">
    <li>Philip Key - b. March 21, 1695-96 in Covent Garden, London, England; d. August 20, 1764 in Chapitico, MD <br/> <em>+ Susanna Barton Gardiner</em></li>
        <ul> <!-- start philip key children -->
            <li>Dr. John Key <em>+ Celia Brown</em> - studied medicine in Scotland with Celia's father, Gustavus Brown - <em>see <%= link_to "Brown Family", {:name => "brown", :action => "sub"} %> tree</em></li>
            <li>Francis Key - b. 1728 in Hillilee, Chaptico, MD; d. November 1770<br/> <em>+ Ann Arnold Ross</em></li>
                <ul> <!-- start francis key children -->
                    <li>John Ross Key - b. September 19, 1754 in Annapolis, MD; d. October 13, 1821 <br/> <em>+ Ann Phoebe Penn Dagworthy Charlton</em></li>
                        <ul> <!-- start john key children -->
                            <li><%= link_to "Francis Scott Key", person_path("per.000001") %> - b. August 1, 1779 in Terra Rubra Farm, MD; d. January 11, 1843<br/><em>+ Mary Tayloe Lloyd</em></li>
                                <ul> <!-- start fsk children -->
                                    <li>Philip Barton Key - b. April 5, 1818; d. February 27, 1859</li>
                                </ul> <!-- end fsk children -->
                            <li>Anne Charlton Key <em>+ <%= link_to "Roger Brooke Taney", person_path("per.001155") %>, Chief Justice of the Supreme Court</em></li>
                          </ul> <!-- end john key children -->
                    <li><%= link_to "Philip Barton Key", person_path("per.001495") %> - b. April 12, 1757 in Cecil County, MD; d. July 18, 1815 in Georgetown, Washington, D.C.<br/> <em>+ Ann Plater</em></li>
                        <ul><!-- start pbk children -->
                            <li>Philip Barton Key - b. September 2, 1804, Woodley, Georgetown, D.C.; d. May 4, 1854, Acadia, Thibodaux, LA</li>
                        </ul><!-- end pbk children -->
                    </ul> <!-- end francis key children -->
        </ul> <!-- end philip key children -->
</ul> <!-- end tree -->
</p>




<hr/>

<h4>Sources</h4>
<div class="footnotes">

<p>Horace Edwin Hayden. <em>Virginia Genealogies</em>. Wilkes-Barre, PA: E.B. Yordy, 1885, 167-169.</p>

<p>Christopher Johnston. "Key Family." <em>Maryland Historical Magazine</em>, Vol. V. Baltimore: Maryland Historical Society, 1910, 194-200.</p>

<p>George Norbury Mackenzie, ed. <em>Colonial Families of the United States of America,</em> Vol. I. Reprinted, Baltimore: Genealogical Publishing Co. 1966, 1995, 299-304.</p>

<p>Mike Marshall. "<a href="http://www.colonial-settlers-md-va.us/index.php" target="new">Early Colonial Settlers of Southern Maryland and Virginia's Northern Neck Counties</a>." See <a href="http://www.colonial-settlers-md-va.us/getperson.php?personID=I039799" target="new">Francis Key</a>. <a href="#bodyn1">[back]</a></p>

</div>