<h2>Annotated Cases</h2>

<p>Below is an index of the Petition for Freedom cases tried before the Circuit Court for the District of Columbia between 1808 and 1851. At present, it is organized alphabetically by the forename of the petitioner; however, there will be other ways to sort through these records at a later date.</p>

Jump to Page 
<%= form_tag casesAll_path(reset_params) do %>
  <%= paginator %>
<% end %>
of results

<h1><%= "#{@total_found} annotated cases" %></h1>

<ul>
  <% @docs[:docs].each do |doc| %>
    <li>
      <%= link_to "#{doc["title"]}", case_path(doc["id"]) %>
    </li>
  <% end %>
</ul>