<h2><em>Anna:</em> An Animated Historical Short</h2>


<div class="embed-video"><iframe src="https://player.vimeo.com/video/254881210?color=5A8597&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

<br/>

<p>In November 1815, an enslaved woman named Anna <%= link_to "leapt", doc_path("oscys.supp.0001.001") %> from the third floor window of <%= link_to "George Miller", person_path("per.000278") %>'s tavern on F Street in Washington, D.C., after she was sold to Georgia slave traders and separated from her family. She suffered a broken back and fractured her arms, but she survived.</p>

<p>For two hundred years, her identity remained unknown. In 2015, original documents about her came to light at the National Archives. Her name was <%= link_to "Ann Williams", person_path("per.000831") %>. She and her husband were reunited and had four more children. Then she <%= link_to "sued", case_path("oscys.caseid.0026") %> George Miller for her freedom. And won.</p>

<p><em>Anna</em> is a twelve-minute film about one of the most dramatic events in the history of American slavery.</p>

<p>For more information on the making of this film, visit <a href="http://annwilliamsfilm.com/" target="new">annwilliamsfilm.com</a>.</p>

</div>
