<h2>The Business of a Nascent Federal Court: Records of the Circuit Court for Washington, D.C. from 1801-1802</h2>
<p class="byline">Jeremiah Bauer</p>


<p>James Sterling Young's award winning study&#8212;<em>The Washington Community: 1800-1828</em> (1966)&#8212;recreates Washington society as it emerged in the Early Republic.<span class="foot"><a href="#footn1" id="bodyn1">1</a></span> While it deftly explores the relationship between the executive and Capitol Hill, it just as glaringly neglects the judicial bureaucracy of the new capital. In fact, the index only refers to the courts under the heading "Supreme Court" and references the Court on a meager six pages.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span> This scant treatment reflects the numerical diminutiveness of federal law enforcement. In 1802, federal law enforcement consisted of one attorney general, thirty-six district judges, twenty-four district attorneys, twenty-four marshals, and eighteen clerks&#8212;only 1.1 percent of the federal bureaucracy.<span class="foot"><a href="#footn3" id="bodyn3">3</a></span></p>

<p>Indeed, historical studies of antebellum court business are just as sparse. Felix Frankfurter's pioneering 1920s study of the business of the Supreme Court focuses virtually all of its attention on the period after the Civil War. That Congress did not require regular reports on judicial business until the 1870s contributes to this scarcity of inferior court studies.  Frankfurter lamented "the volume of this appellate business compared with their original jurisdiction is not disclosed by available data."<span class="foot"><a href="#footn4" id="bodyn4">4</a></span> Frankfurter's assertion that court business could not "be accurately estimated until the dockets of the federal district courts are studied" underscores the need for and importance of the <em>O Say Can You See: Early Washington, D.C., Law & Family</em> project.<span class="foot"><a href="#footn5" id="bodyn5">5</a></span></p>

<p class="pullquote">This paper begins the long (and much needed) process of reconstructing the judicial business of the D.C. Court by exploring the minutes during the Court's first three sessions in Washington, D.C., from 1801-1802.</p>

<p>The <em>OSCYS</em> project is in the process of digitizing records of the Circuit Court for the District of Columbia during the antebellum period. Beyond providing open access to petitions, records, case files, etc., the Court's minute books may also be transcribed. The minutes are the essence of the day-to-day business of the Court and provide insights that published case reports cannot. This paper begins the long (and much needed) process of reconstructing the judicial business of the D.C. Court by exploring the minutes during the Court's first three sessions in Washington, D.C., from 1801-1802. Far from the contention "Early in its existence, the District of Columbia Circuit Court had little work and there was talk of abolishing it," the newly created federal inferior court adjudicated an ample and diverse docket.<span class="foot"><a href="#footn6" id="bodyn6">6</a></span> The Court's activities supported economic growth and the enforcement bureaucracy. However, rather than "[taking] the lead to in developing new law to meet the demands of a growing economy and a changing society"&#8212;as legal historians have concluded about lower federal courts in the late eighteenth and early nineteenth centuries&#8212;the D.C. Court served a far less glamorous, more bureaucratic and administrative function.<span class="foot"><a href="#footn7" id="bodyn7">7</a></span></p>

<p class="pullquote">The Court's activities supported economic growth and the enforcement bureaucracy.</p>

<figure class="figure_right figure_medium"><%= image_tag("business_of_court.01.jpg") %>
<figcaption>Session 1, beginning June 22, 1801. M1021, Roll 1.</figcaption>
</figure>

<p>Congress created the District of Columbia Court on February 27, 1801.<span class="foot"><a href="#footn8" id="bodyn8">8</a></span> "An Act Concerning the District of Columbia" split the district into two counties&#8212;Washington County and Alexandria&#8212;and established a court to oversee the new capital. The Court consisted of one chief judge and two assistant judges and was to meet in each county four times per year. Along with appellate jurisdiction, the Court claimed original jurisdiction in all civil and criminal causes within the district. When legal actions involved citizens from Maryland, Maryland law governed the outcome. The same held true for Virginia. Thus, the Court's original jurisdiction in criminal and civil causes within the district provide the basis for this study. Unfortunately, the minutes for the Court's Alexandria sessions have not been analyzed because they are housed with the Alexandria records&#8212;a split that occurred in 1846.<span class="foot"><a href="#footn9" id="bodyn9">9</a></span> The data for this paper is taken from M1021, <em>Minutes of the U.S. Circuit Court for the District of Columbia, 1801–1863</em>.</p>

<p>In its first year in existence, the District of Columbia Circuit Court met for the first time on June 22, 1801. Thomas Kilty sat as the Court's first chief judge; William Cranch and James Marshall served as assistant judges. The Court administered a diverse docket. The judges presided over criminal trials and equity suits. They granted local licenses and naturalized citizens. They swore in witness, grand juries, and attorneys as well as appointed marshals, clerks, and constables. In its first three sessions, the Court handled no less than 216 causes/licenses. Here is the breakdown of causes by session:
        <ul style="list-style-type:none;">
		<li>Session 1, June 22, 1801 – July 10: 106</li>
        <li>Session 2, September 28 – October 8: 55</li>
 		<li>Session 3, December 28 – January 9, 1802: 55</li>
        </ul></p>

<h3>Session 1, June 22 – July 10, 1801</h3>

<p>Pages one through twenty-seven of the minute books contain the records of the first session of the Court. It appears&#8212;although it is sometimes difficult to distinguish&#8212;the Court ruled on no less than 106 causes/licenses during the session. However, the Court only met for two full weeks before taking a week-and-a-half break for the Fourth of July Holiday and then returned to conclude its business on July 10. The majority of the Court's work appears to be administrative. It began the session by swearing in the grand jurors, witnesses, and attorneys who appeared before it. Additional grand jurors and witness were also sworn in sporadically throughout the session. Only two probate decisions exist, and one of those is for legal guardianship.</p>

<p>Two additional administrative tasks were naturalizing citizens and appointing overseers of roads. On July 10, Thadey Hoagan of Ireland and Hugh Densley of England swore their naturalization oaths. On July 1, Richard Jameson and Abraham Boyd received separate appointments to oversee one of the District's roads.</p>

<figure class="figure_left figure_medium"><%= image_tag("business_of_court.02.jpg") %>
<figcaption>The judgment in the case of <em>United States v. Samuel Baker</em>. M1021, Roll 1, page 12.</figcaption>
</figure>

<p>By far, most of the administrative duties consisted of issuing licenses. It is difficult in many cases to distinguish between a license and a fine, but it appears approximately ninety licenses were issued during the first session. Interestingly, at least half of those were for retailing liquor. Alcohol appeared to be in high demand&#8212;or at least very readily available&#8212;in the nation's capital. The clerk labeled liquor as either "punctiuos," "spirituous," or "ordinary." In only a few cases were dollar amounts attached for these licenses. George Jacobis and John Kearney each paid "$53 1/3" for their licenses, while Pontius D'Stille paid $100. James More purchased two different licenses&#8212;one for $100, and one for "$53 1/3." Clearly, the most urgent business of this sparsely populated swamp was keeping the liquor flowing.</p>

<p>The Court conducted at least nine criminal trials during the first session. Information on the trials is limited, but four were for stealing, and another charged assault and battery. It is unclear&#8212;beyond felony charges&#8212;what the specific offenses of the remaining four defendants were. What is intriguing is the severity of the punishments. The Jury found Samuel Baker guilty, and he was sentenced "to be burnt with a hot iron in the brawn of the thumb on the left hand."<span class="foot"><a href="#footn10" id="bodyn10">10</a></span> The Court sentenced John Clancey to be publicly whipped and another guilty party "to be pillar for ¼ an hour."<span class="foot"><a href="#footn11" id="bodyn11">11</a></span> For stealing a hand chisel, Charles Houseman received "20 strikes."<span class="foot"><a href="#footn12" id="bodyn12">12</a></span> It appears citizens deemed stealing a larger threat than assault, based on the punishments doled out. For example, for his conviction of assault and battery, John Cannon was fined $15 and avoided physical retribution.<span class="foot"><a href="#footn13" id="bodyn13">13</a></span></p>

<p class="pullquote">It appears citizens deemed stealing a larger threat than assault, based on the punishments doled out.</p>

<h3>Session 2, September 28 – October 8, 1801</h3>

<p>Court business slowed in its second session. The total number of causes/licenses decreased to no fewer than fifty-five. Moreover, the Court conducted only three trials during the two-week period it operated. Of note, the sentence of Daniel Henderson for stealing silver candlesticks specified he receive 30 strikes on his "bare back" and an additional fine.<span class="foot"><a href="#footn14" id="bodyn14">14</a></span> It is unclear whether previous convictions resulting in "strikes" were "bare back" or clothed.</p>

<p>Perhaps more important for the growth of the new capital, the Court naturalized 14 individuals and granted a license to operate a ferry after spelling out the application terms. On October 2, the Court directed license applicants to publicly announce their intentions:

<blockquote>The Court will not act upon any Petition for license to Open a new Ferry unless the petitioner shall have given public notice by advertisement inserted in some public Newspaper or Newspapers published within this District 3 weeks before the sitting of the Court of his intention of applying to this Court for such license.</span><span class="foot"><a href="#footn15" id="bodyn15">15</a></span></blockquote>

The Court subsequently granted its first ferry license on Tuesday, October 6.<span class="foot"><a href="#footn16" id="bodyn16">16</a></span> The minutes make no mention if the applicant fulfilled the Court's requirement prior to its announcement of the official procedure.</p>

<figure class="figure_right figure_medium"><%= image_tag("business_of_court.03.jpg") %>
<figcaption>"Negro Peter." M1021, Roll 1, page 42.</figcaption>
</figure>

<p>Two additional interesting anecdotes are worth mentioning. The minute books distinguish race for the first time on page 42. A man by the name of what appears to be Peter is referred to twice as "Negro Peter." First, in the name of the cause and second, in the subsequent description: "$10 [or $110] for negro Peter keeping the peace until next court."<span class="foot"><a href="#footn17" id="bodyn17">17</a></span> Either there had been no causes involving African Americans prior to this one, or the minutes do not consistently distinguish between blacks and whites. This session is also the first time we see references to habeas corpus writs. There are two mentions of writs directing the court to produce prisoners.<span class="foot"><a href="#footn18" id="bodyn18">18</a></span></p>

<h3>Session 3, December 28 – January 9, 1802</h3>

<p>In the third session, the Court's docket appeared to gain some consistency. It dealt with no less than fifty-five causes/licenses. However, the number of trials increased to thirteen, and the first civil trials appear in the minutes. Daniel Carrick sued John Read, and the jury found in the plaintiff's favor in the amount of $50 and the jury fee.<span class="foot"><a href="#footn19" id="bodyn19">19</a></span> It is unclear who the parties were in the second case, but the result found one party owing $100 to the other.<span class="foot"><a href="#footn20" id="bodyn20">20</a></span></p>  

<p>The Court continued facilitating the economic growth of the District. It granted multiple ferry licenses and dozens of retailing licenses. The trials were pretty strait forward, but significantly the Court tried Dinah Madden twice for receiving stolen goods, and each time the jury returned with "not guilty" verdicts.<span class="foot"><a href="#footn21" id="bodyn21">21</a></span></p> 

<figure class="figure_center"><%= image_tag("business_of_court.04.jpg") %>
<figcaption><em>United States v. Dinah Madden</em>. M1021, Roll 1, page 89.</figcaption>
</figure>

<p>Rather than keeping the peace and administering justice, the minute books of the first three sessions of the District of Columbia Circuit Court evince a Court facilitating a new a growing economy. Granting business licenses consumed the Court's docket. It did not have much of an early role in settling civil disputes; however, its unique original jurisdiction in criminal cases demonstrates an acceptance of physical punishments for the theft of property while assault and battery convictions were met with fines.</p>
 
<p class="pullquote">This brief study opens the door on early Washington, D.C., as a growing economic enterprise, but the minute books need a further detailed exploration.</p>

<p>This brief study opens the door on early Washington, D.C., as a growing economic enterprise, but the minute books need a further detailed exploration&#8212;both the ones mined in this paper as well as the books of the Alexandria Court. The study could be expanded temporally to get a larger sample of the business of the Court in the antebellum period. Perhaps increments of five or ten years will offer a more precise picture of the Court's growth and influence.</p>

<p>In terms of social history and relationships, the names on jury roles, witness lists, and attorney lists could be mined to help develop the social circles of the new capital. The <em>Early Washington D.C. Law & Family</em> project should provide future scholars an opportunity to explore all of these avenues.</p>

<hr/>

<p class="byline"><em>Jeremiah Bauer is a graduate student in the History Department at the University of Nebraska-Lincoln.</em></p>

<hr/>

<h4>Endnotes</h4>
<div class="footnotes">
<p><span class="notenumber" id="footn1">1.</span> James Sterling Young, <em>The Washington Community: 1800-1828</em> (New York: Harbinger, 1966). <a href="#bodyn1">[back]</a></p>

<p><span class="notenumber" id="footn2">2.</span> Ibid., 306. <a href="#bodyn2">[back]</a></p>

<p><span class="notenumber" id="footn3">3.</span> Ibid., 29. <a href="#bodyn3">[back]</a></p>

<p><span class="notenumber" id="footn4">4.</span> Felix Frankfurter and James M. Landis, "<a href="http://www.jstor.org/stable/1329511" target="new">The Business of the Supreme Court of the United States. A Study in the Federal Judicial System</a>," <em>Harvard Law Review</em> 38, no. 8 (June 1925), 1016. <a href="#bodyn4">[back]</a></p>

<p><span class="notenumber" id="footn5">5.</span> Ibid., 1016, note 35. <a href="#bodyn5">[back]</a></p>

<p><span class="notenumber" id="footn6">6.</span> Claim made in: "William Cranch" in "Guide to the Early Reports of the Supreme Court," 1 Guide Early Rep. Sup. Ct. U.S. 25 1995, 26. Accessed at <a href="http://heinonline.org" target="new">HeinOnline</a>. <a href="#bodyn6">[back]</a></p>

<p><span class="notenumber" id="footn7">7.</span> Melivin I. Urofsky and Paul Finkelman, <em>A March of Liberty: A Constitutional History of the United States, Volume 1</em> (New York: Oxford University Press, 2011), 183. <a href="#bodyn7">[back]</a></p>

<p><span class="notenumber" id="footn8">8.</span> "An Act Concerning the District of Columbia," February 27, 1801, 2 Stat. 103. <a href="#bodyn8">[back]</a></p>

<p><span class="notenumber" id="footn9">9.</span> National Archives and Records Administration, "<a href="http://www.archives.gov/research/court-records/dc-circuit-court-1801-1863.pdf" target="new">The U.S. Circuit Court for the District of Columbia, 1801-1863</a>." <a href="#bodyn9">[back]</a></p>

<p><span class="notenumber" id="footn10">10.</span> M1021, Minutes of the U.S. Circuit Court for the District of Columbia, 1801–1863, Roll 1, page 12. <a href="#bodyn10">[back]</a></p>

<p><span class="notenumber" id="footn11">11.</span> Ibid., 16. <a href="#bodyn11">[back]</a></p>

<p><span class="notenumber" id="footn12">12.</span> Ibid., 17. <a href="#bodyn12">[back]</a></p>

<p><span class="notenumber" id="footn13">13.</span> Ibid., 18. <a href="#bodyn13">[back]</a></p>

<p><span class="notenumber" id="footn14">14.</span> Ibid., 61. <a href="#bodyn14">[back]</a></p>

<p><span class="notenumber" id="footn15">15.</span> Ibid., 51. <a href="#bodyn15">[back]</a></p>

<p><span class="notenumber" id="footn16">16.</span> Ibid., 58. <a href="#bodyn16">[back]</a></p>

<p><span class="notenumber" id="footn17">17.</span> Ibid., 42. <a href="#bodyn17">[back]</a></p>

<p><span class="notenumber" id="footn18">18.</span> Ibid., 62-63. <a href="#bodyn18">[back]</a></p>

<p><span class="notenumber" id="footn19">19.</span> Ibid., 86. <a href="#bodyn19">[back]</a></p>

<p><span class="notenumber" id="footn20">20.</span> Ibid., 87. <a href="#bodyn20">[back]</a></p>

<p><span class="notenumber" id="footn21">21.</span> Ibid., 83, 89. <a href="#bodyn21">[back]</a></p>

</div>


