<h2>Stories</h2>

<div class="media">
  <div class="media-body">

    <h3 class="media-heading"><%= story_link("The Timing of Queen v. Hepburn", "queen_v_hepburn") %></h3>
    <p>An exploration of African American networks in the early republic, by William G. Thomas III, University of Nebraska-Lincoln</p>
  </div>
  <div class="media-right">
    <%= story_img("oscys_logo.png", "early_dc_court_history") %>
  </div>

  <div class="media-body">
    <h3 class="media-heading"><%= story_link("Example Page", "example") %></h3>
    Use this page as a reference for how to link to things and use images!
  </div>
  <div class="media-right">
    <%= story_img("oscys_logo.png", "example") %>
  </div>
</div>