<h2>Stories</h2>

<p>Follow and read interactive analysis of the court cases, families, attorneys, and judges in early Washington, D.C. Each story focuses on an historical or legal question raised by these cases and interweaves linked references to people, cases, documents, and family relationships.</p>

<p>The original court documents for these cases reveal what Cranch's <em>Reports of Cases Civil and Criminal in the United States Circuit Court of the District of Columbia</em> and other printed sources too often hid: the full names of African American litigants and the complex set of family relationships each case involved. These stories are in-depth studies of the families and cases, properly contextualized, and serve as the pivot point of a larger analysis of the social logic of early Washington, D.C., and how Americans contended with the problem of race and freedom in their society in the aftermath of the American Revolution.</p>

<div class="row">
  <div class="col-md-6">
	  <h3 class="story_title"><%= story_link("The Timing of Queen v. Hepburn: <span class='subtitle'>An Exploration of African American Networks in the Early Republic</span>".html_safe, "queen_v_hepburn") %></h3>
	  
	   <div class="figure_right figure_small">
    <%= image_tag("queen_v_hepburn.00.jpg") %>
  </div>
    
	    <p class="byline">William G. Thomas III</p>
        <p>This essay examines the legal and political awareness of enslaved plaintiffs in their petitions for freedom by examining the timing and circumstances of the influential 1810 <em>Queen v. Hepburn</em> case.</p>

	  
  </div>
  <div class="col-md-6">
	  <h3 class="story_title"><%= story_link("The Language of Law: <span class='subtitle'>Interpreting Nineteenth-Century Legal Documents</span>".html_safe, "language_of_law") %></h3>
    
    <p class="byline">Mitch Fraas</p>

    <p>This essay gives an overview of the documents found within this site and examines how they function both as part of a constrained set of legal procedures and as material texts representative of a wider genre.</p>

  </div>
</div>



