<h2>Stories</h2>

<div class="media">
  <div class="media-body">

    <h3 class="media-heading"><%= story_link("Early DC Court History", "early_dc_court_history") %></h3>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
  </div>
  <div class="media-right">
    <%= story_img("oscys_logo.png", "early_dc_court_history") %>
  </div>

  <div class="media-body">
    <h3 class="media-heading"><%= story_link("Example Page", "example") %></h3>
    Use this page as a reference for how to link to things and use images!
  </div>
  <div class="media-right">
    <%= story_img("oscys_logo.png", "example") %>
  </div>
</div>