<%# If there is any content that is similar across all stories, it would go here %>

<%# Call the partial template for the requested story %>

<!-- stories -->

<ol class="breadcrumb">
  <li><%= link_to "Back to Stories", stories_path %></li>
</ol>


<%= render @sub_name %>