<div1 xmlns="http://www.tei-c.org/ns/1.0" type="html">

  <h1>About <i>O Say Can You See</i></h1>

  <p>This project explores multigenerational black and white family networks in early Washington, D.C., by collecting, digitizing, making accessible, and analyzing thousands of case files from the Circuit Court for the District of Columbia, records of Maryland courts, and related documents about these families. Scholars from the University of Nebraska-Lincoln and the University of Maryland will collaborate by uncovering the web of litigants, jurists, legal actors, and participants in this community, and by placing these family networks in the foreground of our interpretive framework of slavery and national formation.</p>

  <p>Funding and support are provided by the National Endowment for the Humanities, the Center for Digital Research in the Humanities at the University of Nebraska–Lincoln, and the University of Maryland’s Maryland Institute for Technology in the Humanities.</p>

  <h2>Project Participants</h2>

  <p><b><a href="http://history.unl.edu/william-thomas-iii" target="new">William G. Thomas III</a></b>, University of Nebraska-Lincoln</p>

  <p><b><a href="http://liberalarts.iupui.edu/directory/bio/guiliano" target="new">Jennifer Guiliano</a></b>, Indiana University</p>

  <p><b><a href="http://mith.umd.edu/people/person/trevor-munoz/" target="new">Trevor Muñoz</a></b>, Maryland Institute for Technology in the Humanities</p>

  <table>

    <tbody>
      <tr>
        <td style="border:0">

          <h3>Project Staff</h3>

          <p><b><a href="http://cdrh.unl.edu/about/staff/nash" target="new">Kaci Nash</a></b>, Project Manager</p>

          <p><b><a href="http://cdrh.unl.edu/about/staff/weakly" target="new">Laura Weakly</a></b>, Metadata Encoding Specialist</p>

          <p><b><a href="http://cdrh.unl.edu/about/staff/dalziel" target="new">Karin Dalziel</a></b>, Digital Design &amp; Development Specialist</p>

          <p><b>Jeremiah Bauer</b>, Project Manager for Virtual Conferences</p>

          <p><b><a href="http://cdrh.unl.edu/about/staff/dussault" target="new">Jessica Dussault</a></b>, Programmer</p>

        </td>

        <td style="border:0">

          <h3>Research Assistants</h3>

          <p>Elizabeth Askren<br>
          Gail Blankenau<br>
          Stephanie Camerone<br> 
          Michael Dick<br>
          Derek Leininger<br> 
          Kylie McCormick<br>
          David McMichael<br>
          Ashley Towle</p>

        </td>
      </tr>
    </tbody>
  </table>

  <h2>Project Documents</h2>

<!-- TODO real rails link -->
  <p>An example of the <a href="life.html">Life History Files</a> compiled for each person as well as a <a href="assets/thompson_chart.jpg" rel="prettyPhoto[pp_gal]">chart</a> illustrating the relationships contained in the case files.</p>

  <p>Encoding guides for <%= link_to "Life History Files", "/Guide_LifeHistoryFiles.pdf" %> and <%= link_to "Relationships", "/Guide_Relationships.pdf" %>.</p>

</div1>
