<div1 xmlns="http://www.tei-c.org/ns/1.0" type="html">

  <h1>Family Networks</h1>

  <p>The following family networks have been created using information derived from documentation in the court records, as well as genealogical research. Each tree is labeled as either being case-derived, genealogy-derived, or both. When a tree is made up of data from both court documents and external research, the information is color-coded to reflect the origin of the material.</p>

  <h2>African-American Families</h2>

  <p></p><h5><a href="./fam.davis.html">Davis Family Network</a></h5><lb>
  Two generations of the Davis family petitioned the Court in D.C. for their freedom from various masters, including a member of the <a href="./fam.forrest.html">Forrest</a> family.<p></p>  

  <p></p><h5><a href="./fam.lee.html">Lee Family Network</a></h5><lb>
  Two generations of the Lee family petitioned for their freedom in the Circuit Court in D.C.<p></p>

  <p></p><h5><a href="./fam.queen.html">Queen Family Network</a></h5><lb>
  Many members of the Queen family <a href="./queens.html">petitioned courts in Maryland and D.C.</a> for their freedom.<p></p>  

  <h2>White Families</h2>

  <p></p><h5><a href="./fam.carroll.html">Carroll Family Network</a></h5><lb>
  Members of Carroll family at one time claimed ownership of the matriarch of the <a href="./fam.queen.html">Queen</a> family, upon whose status the freedom petitions rested.<p></p>

  <p></p><h5><a href="./fam.clarke.html">Clarke Family Network</a></h5><lb>
  The Clarke family was possibly the owner of a branch of the <a href="./fam.queen.html">Queen</a> family, and the testimony of a member of the Clarke family was integral to the freedom suit brought by Mima and Louisa <a href="./fam.queen.html">Queen</a><p></p>    

  <p></p><h5><a href="./fam.duvall.html">Duvall Family Network</a></h5><lb>
  Members of the Duvall family played a role in the <a href="./fam.queen.html">Queen</a> family litigation in Maryland and D.C. courts.<p></p>

  <p></p><h5><a href="./fam.forrest.html">Forrest and Plater Family Networks</a></h5><lb>
  The Forrests were prominent members of early Washington, D.C., society. Two members of the Plater family married into the <a href="./fam.key.html">Key</a> and Forrest families.<p></p>

  <p></p><h5><a href="./fam.hepburn.html">Hepburn Family Network</a></h5><lb>
  John Hepburn was a defendant in the freedom suit brought by Mima and Louisa <a href="./fam.queen.html">Queen</a>.<p></p>

  <p></p><h5><a href="./fam.key.html">Key Family Network</a></h5><lb>
  Francis Scott Key and his uncle, Philip Barton Key, represented both enslaved persons and their owners in freedom petitions before courts in Maryland and D.C.<p></p>

  </div1>