<p>This project explores multigenerational black and white family networks in early Washington, D.C., by collecting, digitizing, making accessible, and analyzing case files from the Circuit Court for the District of Columbia between 1808 to 1862.</p>

<%# TODO keeping the image commented out until further instruction %>
<%# image_tag "dc_800.jpg", :class=>"map" %>
