<div1 xmlns="http://www.tei-c.org/ns/1.0" type="html">

  <p>This project explores multigenerational black and white family networks in early Washington, D.C., by collecting, digitizing, making accessible, and analyzing case files from the Circuit Court for the District of Columbia between 1808 to 1862.</p>

  <%= image_tag "dc_800.jpg", :class=>"map" %>
  <div id="browse">  
  <hr class="clear-browse">

  <h2>Browse Records</h2>
  <h3><a href="cases.html" style="text-decoration:none;">Browse by Case File</a></h3>
  <hr class="clear-browse">

  <h3>Browse by Document Type</h3>

  <!-- Browse by Document Type -->
  <%= form_tag dropdown_path do %>
    <% select_tag :document, options_for_select(@subtype_facet), :prompt => "Select Document", :class => "custom-dropdown__select", :onchange => "this.form.submit();" %>
  <% end %>
  <hr class="clear-browse">

  <h3>Browse by Term</h3>

  <!-- Browse by Term Period -->
  <%= form_tag dropdown_path do %>
    <% select_tag :term, options_for_select(@term_facet), :prompt => "Select Term", :class => "custom-dropdown__select", :onchange => "this.form.submit();" %>
  <% end %>
  <hr class="clear-browse">


<hr class="clear-browse">

<h3>Browse by Attorney</h3>

  <!-- Browse by Attorney (TODO implement) -->
<span class="custom-dropdown custom-dropdown">
  <select class="custom-dropdown__select custom-dropdown__select" id="attorney">
    <option value="./home.html">Select Attorney</option>
    <!-- <option value="./search/?q=person:%22Addison,%20J.%20E.%22">Addison, J. E.</option> -->
  </select>
</span>

<hr class="clear-browse">
<!-- search form -->
<%= render "documents/search_bar" %>

</div>

<hr class="clear-hr">

</div1>