<div1 xmlns="http://www.tei-c.org/ns/1.0" type="html">
  <a name="top">
    <h1>Interesting Cases and Documents</h1>
    <p></p>
  </a>

  <ul>
    <a name="top"></a>
    <li><a name="top"></a><a href="#appeal">Circuit Court Cases Appealed to the Supreme Court</a></li>
    <li><a href="#family">Family Freedom Petitions</a></li>
    <li><a href="#filed">Filed in the Circuit Court for the District of Columbia</a></li>
    <li><a href="#misc">Miscellaneous Cases and Documents</a></li>
  </ul>
  <p></p>

  <a name="appeal">
    <h2>Circuit Court Cases Appealed to the Supreme Court</h2> 
    
    <p></p></a><ul><a name="appeal">
  </a><li><a name="appeal"></a><a href="./doc/oscys.supp.0001.005.html">Ben v. Sabrett Scott</a> (1810)</li>
  <li><a href="./doc/oscys.supp.0006.001.html">Hezekiah Wood v. John Davis</a> (1812)</li>
  <li><a href="./doc/oscys.supp.0002.002.html">Mima Queen &amp; Louisa Queen v. John Hepburn</a> (1813)</li>
  <li><a href="./doc/oscys.supp.0009.001.html">Sally Henry v. Henry W. Ball</a> (1816)</li>
  <li><a href="./doc/oscys.supp.0006.002.html">John Davis v. Hezekiah Wood</a> (1816)</li> 
  <li><a href="./doc/oscys.supp.0013.002.html">George Mason &amp; Alexander Moore v. Matilda Derrick</a> (1827)</li>
  <li><a href="./doc/oscys.supp.0026.001.html">Joseph Wallingsford v. Sarah Ann Allen</a> (1836)</li> 
  <li><a href="./doc/oscys.supp.0028.001.html">Richard B. Alexander v. Moses Graham</a> (1843)</li> 
  <li><a href="./doc/oscys.supp.0027.001.html">William H. Williams v. James Ash</a> (1843)</li> 
</ul><p></p>

<p><small><a href="#top">[top]</a></small></p>



<a name="family">
  <h2>Family Freedom Petitions</h2>

  <p></p></a><ul><a name="family"></a><li><a name="family"></a><a href="queens.html">Queen Family</a> <a href="./fam.queen.html">※</a></li></ul>
  
  <ul><li>Lee Family <a href="./fam.lee.html">※</a></li>
    <ul><li><a href="./search/result.html?q=plaintiff:%22Lee,%20Janette%22">Janette Lee v. Augustus Preuss</a></li>
      <li><a href="./search/result.html?q=plaintiff:%22Lee,%20John%20Baptist%22">John Baptist Lee v. Augustus Preuss</a></li>
      <li><a href="./search/result.html?q=plaintiff:%22Lee,%20Lizette%22">Lizette Lee v. Augustus Preuss</a></li>
      <li><a href="./search/result.html?q=plaintiff:%22Lee,%20Nancy%22">Nancy Lee v. Augustus Preuss</a></li>
    </ul></ul>

    <ul><li>Descendants of Mary Davis <a href="./fam.davis.html">※</a></li>
      <ul><li><a href="./search/result.html?q=plaintiff:%22Bentley,%20Elizabeth%22">Elizabeth Bentley v. Thomas Keen</a></li>
       <li><a href="./search/result.html?q=plaintiff:%22Davis,%20Letitia%22">Letitia Davis v. Rebecca Forrest</a></li>
       <li><a href="./search/result.html?q=plaintiff:%22Davis,%20Ann%22">Ann, David, Sarah, Frederick, &amp; Hanson Davis v. Charles Minifee</a></li>
       <li><a href="./search/result.html?q=plaintiff:%22Davis,%20George%22">George Davis v. Mary Young</a></li>
     </ul></ul><p></p>

     <p><small><a href="#top">[top]</a></small></p>



     <a name="filed">
      <h2>Filed in the Circuit Court for the District of Columbia</h2>

    </a><p><a name="filed"></a><a href="./search/result.html?q=plaintiff:%22Butler,%20Philis%22">Philis Butler v. Augustin Saira</a> (1808). Butler was manumitted by her slaveholder upon payment received from another white man, Saira. The arrangement was that she would pay Saira back in full or work for him for a certain length of time in payment of the debt. Butler petitioned the court that Saira instead claimed her as his slave, despite the fact that she was freed from her former slaveholder.</p> 

    <p><a href="./search/result.html?q=defendant:%22Scott,%20Sabrett%22">Ex Parte Ben, Ben v. Sabrett Scott</a> (1809). Ben was imprisoned because his former slaveholder said he ran away. But Francis Scott Key argued that Ben was, in fact, free, based on a judgment from the Court. While the Defendant had filed a <i>supersedeas</i> to delay the judgment, he lodged no writ of error. The Defendant's counsel countered, saying a writ of error was filed with the clerk's office but not sent to the adverse party. So the Court ordered Ben remanded. But then a few months later, Ben returned to Court and was discharged when the Court ruled that the writ of error should have been sent to the adverse party.</p>

    <p><a href="./search/result.html?q=plaintiff:%22Wright,%20Dennis%22">Dennis Wright v. Elizabeth Robinson &amp; Richard Taylor</a> (1822). The Petitioner was born in Virginia, but brought into D.C. by one owner, then taken back into Virginia by another. He argued this was contrary to the Maryland Act of Assembly. It was agreed that the Petitioner would serve for six years after the purchase by his new owner and then be freed.</p>
    
    <p><a href="./search/result.html?q=plaintiff:%22Jordan,%20William%22">William Jordan v. Lemuel Sawyer</a> (1823). The Court ruled that the law was with the Defendant, but the Defendant's attorney was absent and Francis Scott Key requested that judgment be suspended until next term. This case was then settled by the parties. The terms of the settlement are unknown.</p>

    <p><a href="./search/result.html?q=plaintiff:%22Tarlton,%20Fanny%22">Fanny Tarlton v. Cartwright Tippett</a> (1824). The Petitioner and her children were in the possession of Alexander Scott, appointed the U.S. political agent to Venezuela in 1811. Scott was stationed in Caracas some time between 1811 and 1813 and then returned to Maryland and, finally, Washington, D.C. The question became whether or not this movement was considered an importation against Maryland Act of 1796, c. 67. It is not specified how Carwright Tippett is involved in this litigation. It could be that upon returning to the U.S., the Petitioner and her children were then sold by Scott to Tippett.</p>

    <p><a href="./search/result.html?q=plaintiff:%22Brown,%20Letty%22">Letty Brown v. John H. Lowe</a> (1825). The Petitioner was purchased by the Defendant in order to allow Brown to purchase her own freedom from the Defendant in increment payments. The Petitioner made her first payment from moneys contributed by friends. In the meantime, she lived as a free woman in D.C. She filed the petition for freedom because she was ready to pay the final balance and was of the belief that the Defendant now claimed her (and her child, born since) as a slave for life. The legal question was whether or not there could be manumission without a will or deed. The Court found for the Defendant until such time as the Petitioner repaid all of the purchase money. Then she would be entitled to relief in law or equity.</p>

    <p><a href="./search/result.html?q=defendant:%22Preuss,%20Augustus%22">Lees v. Augustus Preuss</a> (1826). This is a complicated series of cases revolving around a deed of emancipation that stipulated the children of an enslaved woman named Joanna Lee would be freed after having served a specified number of years.</p>

    <p><a href="./search/result.html?q=plaintiff:%22Derrick,%20Matilda%22">Matilda Derrick v. Mason &amp; Moore</a> (1828). An agreement was reached by the parties in the Circuit Court that Defendants would appeal the verdict for the petitioners and bring the case before the Supreme Court. In the meantime, the petitioners were to remain in the possession of the Defendants.</p>

    <p><small><a href="#top">[top]</a></small></p>



    <a name="misc">
      <h2>Miscellaneous Cases and Documents</h2> 

      <p></p></a><ul><a name="misc">
    </a><li><a name="misc"></a><a href="./search/result.html?q=plaintiff:%22Davis,%20Davy%22">Davy Davis v. James Cassin</a> (1809). Case file contains <a href="./doc/oscys.case.0020.003.html">fugitive slave advert</a>.</li>
    <li><a href="./search/result.html?q=plaintiff:%22Gasbury,%20Emanuel%22">Emanuel Gasbury v. Henry W. Ball</a> (1814). Complete case file including interrogatories, attorney correspondence, and a letter from Emanuel's slaveholder permitting him leave to visit his wife on another plantation.</li>
    <li><a href="./search/result.html?q=plaintiff:%22Wilson,%20Cordelia%22">Cordelia Wilson v. Brown &amp; George Miller</a> (1815). Injunction filed to prohibit the Petitioner from being removed from the county.</li>
    <li><a href="./search/result.html?q=plaintiff:%22Randall,%20David%22">David Randall v. John B. Reid</a> (1822). Petitioner remanded to the custody of the Marshal during the trial.</li>
    <li><a href="./search/result.html?q=plaintiff:%22Hunter,%20George%22">George Hunter v. William M. Offutt &amp; Zadock Offutt</a> (1824). Attorney employs detailed language in the <a href="./doc/oscys.case.0061.001.html">Petition for Freedom</a>.</li>
  </ul><p></p>

  <p><small><a href="#top">[top]</a></small></p>
  

  <br><br>


</div1>