


<h2>Davis</h2>

<p>Two generations of the Davis family petitioned the Court in Washington, D.C., for their freedom from various masters, including a member of the Forrest family.</p>  

        <p>
        <ul class="tree">
          <li><a href="./search/result.html?q=person:%22Davis,%20Mary%22&amp;sort=title">Mary Davis</a> - a free woman</li>
            <ul>
              <li><a href="./search/result.html?q=person:%22Bentley,%20Rosamond%22&amp;sort=title">Rosamond Bentley</a> - freed by a freedom petition</li>
              <li><a href="./search/result.html?q=person:%22Bentley,%20Eleanor%22&amp;sort=title">Eleanor Bentley</a></li>
              <li><a href="./search/result.html?q=person:%22Bentley,%20Mary%22&amp;sort=title">Mary Bentley</a></li>
              <li><a href="./search/result.html?q=person:%22Bentley,%20Elizabeth%22&amp;sort=title">Elizabeth Bentley</a> <i>[sister to Rosamond et al? perhaps the daughter of one of them?]</i></li>
              <li>Unknown</li>
                <ul>
                  <li><a href="./search/result.html?q=person:%22Davis,%20Letitia%22&amp;sort=title">Letitia Davis</a></li>
                    <ul>
                      <li><a href="./search/result.html?q=person:%22Davis,%20Rachel%22&amp;sort=title">Rachel Davis</a></li>
                      <ul>
                        <li><a href="./search/result.html?q=person:%22Davis,%20Henry%22&amp;sort=title">Henry Davis</a></li>
                      </ul>
                    </ul>
                  <li><a href="./search/result.html?q=person:%22Davis,%20Ann%22&amp;sort=title">Ann Davis</a></li>
                  <ul>
                    <li><a href="./search/result.html?q=person:%22Davis,%20David%22&amp;sort=title">David Davis</a></li>
                    <li><a href="./search/result.html?q=person:%22Davis,%20Sarah%22&amp;sort=title">Sarah Davis</a></li>
                    <li><a href="./search/result.html?q=person:%22Davis,%20Frederick%22&amp;sort=title">Frederick Davis</a></li>
                    <li><a href="./search/result.html?q=person:%22Davis,%20Hanson%22&amp;sort=title">Hanson Davis</a></li>
                  </ul>
                  <li><a href="./search/result.html?q=person:%22Davis,%20Susan%22&amp;sort=title">Susan Davis</a> - born free</li>
                  <li><a href="./search/result.html?q=person:%22Davis,%20George%22&amp;sort=title">George Davis</a></li>
                </ul>
            </ul>
        </ul>
        </p>


