


<h2>Greenfield Family Network</h2>

<p>Several cases were brought against members of and heirs of the Greenfield family.</p> 

        <p>
        <ul class="tree">

<li>Gerard T. Greenfield</li>

<ul><!-- children of gtg -->

<li>Sabina T. Greenfield</li>
<li>Maria Anne T. Greenfield (104, 149)</li>
<li>Walter T. Greenfield (149?)</li>
<li>Gabriel P. T. Greenfield (104, 276)</li>
<li>Thomas T. Greenfield (276)</li>

<ul><!-- children of ttg -->

<li>Gerard T. Greenfield (104, 149, 276)</li>

</ul><!-- end ttg -->

</ul><!-- end gtg -->

        </ul><!-- end tree -->
        </p>


