


<h2>Lee</h2>

<p>Two generations of the Lee family petitioned for their freedom in the Circuit Court of D.C.</p>

        <p>
        <ul class="tree">
          <li><a href="./search/result.html?q=person:%22Lee,%20Joanna%22&amp;sort=title">Joanna/Joan</a> - freed in the year 1809 <br/>+ Peter Lee</li>
          <ul>
            <li><a href="./search/result.html?q=person:%22Lee,%20John%20Baptist%22&amp;sort=title">John Baptist Lee</a> - born c. 1800</li>
            <li>Peter Lee - born c. 1801</li>
            <li><a href="./search/result.html?q=person:%22Lee,%20Lizette%22&amp;sort=title">Lizette Lee</a> - born c. 1802</li>
            <ul>
              <li><a href="./search/result.html?q=person:%22Lee,%20Nancy%22&amp;sort=title">Nancy Lee</a>- born c. 1825</li>
            </ul>
            <li>Lewis Lee - born c. 1803</li>
            <li><a href="./search/result.html?q=person:%22Lee,%20Janette%22&amp;sort=title">Janette/Jeane Lee</a> - born c. 1809</li>
          </ul>
        </ul>
        </p>