


<h2>Queen</h2>


<p>Many members of the Queen family petitioned courts in Maryland and D.C. for their freedom.</p>  

<p>
<ul class="tree">
<li><a href="./search/result.html?q=person:%22Queen,%20Mary%22&amp;sort=title" class="cas">Mary "the Pappow" Queen</a> - <span class="cas">born c. 1704 in Africa(?)</span> 

<ul>
<li><a href="./search/result.html?q=person:%22Cooper,%20Nanny%22&amp;sort=title" class="cas">Nanny Cooper</a> - <span class="gen">born c. 1717 in Africa or Maryland; died after 1792 in Maryland <br/> <i>+ Tom Cooper (?)</i></span></li>

<ul>
<li><span class="gen">Thomas - born January 2, 1735</span></li>
<li><span class="gen">Mary - born February 29, 1737</span></li>
<ul>
<li><span class="gen">Nanny - born c. 1755</span></li>
<li><span class="gen">Kate - born c. 1758</span></li>
<li><span class="gen">Rachel - born c. 176?</span></li>
<li><a href="./search/result.html?q=person:%22Queen,%20Priscilla%22&amp;sort=title" class="gen">Priscilla</a> <span class="gen">- born by 1764;</span> <span class="cas">possibly the <a href="./search/result.html?q=person:%22Queen,%20Priscilla%22&amp;sort=title" class="cas">Priscilla Queen</a> petitioning for freedom against Francis Neale</span></li>
</ul>
<li><span class="gen">Priscilla - born June 8, 1744</span></li>
<li><span class="gen">Ralph - born September 8, 1745</span></li>
<li><span class="gen">Fanny/Phanny - born February 7, 1751</span></li>
<li><span class="gen">Mima (Mina?) Allen - born September 7, 1755; listed among the slaves on the Daniel Clarke <a href="./fam.clarke.html" class="gen">&#8251;</a> plantation</span></li>
<ul>
<li><span class="gen">Henrietta "Hetty" - born c.1744</span></li>
<li><span class="gen">Sarah - born c. 1790</span></li>
<li><span class="gen">Charles</span></li>
<li><span class="gen">Mimy</span></li>
</ul>
<li><span class="gen"><a href="./search/result.html?q=person:%22Queen,%20Simon%22&amp;sort=title" class="gen">Simon</a> - born January 1759; died after 1810</span></li>
<ul>
<li><span class="gen">Simon - born 1784</span></li>
<li><span class="gen">Michael - born 1786</span></li>
<li><span class="gen">Davy - born before 1806</span></li>
</ul>
<li><span class="gen">Henny - born October 26, 1760</span></li>
<li><span class="gen">One of the daughters of Nanny Cooper (or Phyllis)</span></li>
<ul>
<li><a href="./search/result.html?q=person:%22Queen,%20Mima%22&amp;sort=title" class="cas">Mima</a></li>
<ul>
<li><a href="./search/result.html?q=person:%22Queen,%20Louisa%22&amp;sort=title" class="cas">Louisa</a> <span class="cas"> - born after 1782, most likely in Maryland</span></li>
</ul>
</ul>
</ul>

<li><span class="gen">Phyllis - born c. 1719 in White Marsh, MD</span></li>
<ul>
<li><span class="gen">Susanna "Sukey" - born February 14, 1770</span><br/><span class="gen"><i>+ <a
href="./search/result.html?q=person:%22Ashton,%20John%22&amp;sort=title" class="gen">John
Ashton</a> (?)</i></span></li>
<ul>
<li><span class="gen">Charles - born between 1755 and 1790</span></li>
<li><span class="gen">Elizabeth</span></li>
</ul>
<li><span class="gen">Betty - born August 1, 1745</span></li>
<li><span class="gen">Gervais/Jarvis - born c. 1750</span></li>
<li><span class="gen">Proteus/Protus - born c. 1750</span></li>
<li><span class="gen">Edward "Ned" - born May 3, 1754; died Feburary 23, 1798, buried at St. Peter's Church, Baltimore</span></li>
<li><span class="gen">Mary - born May 17, 1757</span></li>
<li><span class="gen">Johnny - born and died January 16, 1759</span></li>
<li><span class="gen">Peggy - born January 17, 1761</span></li>
<li><span class="gen">Sall - born April 6, 1758; died by 1763</span></li>
<li><span class="gen">Winifred - born c. 1763</span></li>
</ul>

<li><span class="gen">Ralph of Bohemia Manor - born c. 1724</span></li>
<ul>
<li><span class="gen">Nell - born c. 1750</span></li>
<li><span class="gen">Ralph - born c. 1752</span></li>
</ul>
</ul>
</li>
</ul>

</p> 

<h4>Source</h4>

<p>John Lewis Small Book, Georgetown University Library Special Collections Research Center, Maryland Province Archives (MPA), Society of Jesus, Box 29, Folder 2</p>