

<h2>Bibliography</h2>

<p>For further reading and research on law, slavery, and the nation's capital and surrounding areas, we recommend the following resources. The historians and scholars cited below have revised our understanding of the history of slavery, law, and freedom in the early Republic. The <em>OSCYS</em> project is engaged in conversation with these landmark studies.</p>

  <h3>Related Digital Projects</h3>

<p style="margin-left:.5in;text-indent:-.5in"><a href="http://slaveryarchive.georgetown.edu/">The Georgetown Slavery Archive</a></p>

<p style="margin-left:.5in;text-indent:-.5in"><a href="http://www.oldbaileyonline.org/">Old Bailey Proceedings Online</a></p>

<p style="margin-left:.5in;text-indent:-.5in"><a href="https://library.uncg.edu/slavery/petitions/">Race & Slavery Petitions Project</a></p>

<p style="margin-left:.5in;text-indent:-.5in"><a href="http://stlcourtrecords.wustl.edu/">St. Louis Circuit Court Historical Records Project</a></p>

  <h3>Selected Primary Sources</h3>

<p style="margin-left:.5in;text-indent:-.5in">Andrews, Ethan Allen. <em>Slavery and the Domestic Slave-Trade in the United States</em>. Boston: Light & Stearns, 1836.</p>

<p style="margin-left:.5in;text-indent:-.5in">Cranch, William. <em>Reports of Cases Civil and Criminal in the United States Circuit Court of the District of Columbia, from 1801 to 1841</em>, vol. I-VI, Boston: Little, Brown and Company, 1852-1853.</p>

<p style="margin-left:.5in;text-indent:-.5in"><a href="https://www.loc.gov/item/mesn080/">Federal Writers' Project: Slave Narrative Project</a>, Vol. 8, Maryland, Brooks-Williams. 1936. Retrieved from the Library of Congress</p>

<p style="margin-left:.5in;text-indent:-.5in">Lear, Tobias. <em>Observations on the River Potomack, the Country Adjacent, and the City of Washington</em> New York: Loudon, 1793.</p>

<p style="margin-left:.5in;text-indent:-.5in">Papers of the Select Committee to Inquire into the Existence of an Inhuman and Illegal Traffic in Slaves in the District of Columbia, HR 14A-C.17.4, RG 233, Chapter 22.27, National Archives and Records Administration, Washington, D.C.</p>

<p style="margin-left:.5in;text-indent:-.5in">Torrey, Jesse. <em>A Portraiture of Domestic Slavery, in the United States</em>. Philadelphia: John Bioren, Printer, 1817.</p>

  <h3>Secondary Accounts and Sources</h3>

  <h4>Washington, D.C.</h4>

<p style="margin-left:.5in;text-indent:-.5in">Bowling, Kenneth R. <em>The Creation of Washington, D.C.: The Idea and Location of the American Capital.</em> Fairfax: George Mason University Press, 1991.</p>

<p style="margin-left:.5in;text-indent:-.5in">Brown, Letitia Woods. <em>Free Negroes in the District of Columbia, 1790-1846</em>. New York, Oxford University Press, 1972.</p>

<p style="margin-left:.5in;text-indent:-.5in">Cary, Francine Curro, ed. <em>Washington Odyssey: A Multicultural History of the Nation's Capital</em>. Washington: Smithsonian Books, 2003.</p>

<p style="margin-left:.5in;text-indent:-.5in">Currie, David P. "The Most Insignificant Justice: A Preliminary Inquiry." 50 <em>University of Chicago Law Review</em> 446 (1983).</p>

<p style="margin-left:.5in;text-indent:-.5in">DeBats, Donald A. "Political Consequences of Spatial Organization: Contrasting Patterns in Two Nineteenth-Century Small Cities." <em>Social Science History</em> 35, no. 4 (Winter 2011): 505-542.</p>

<p style="margin-left:.5in;text-indent:-.5in">Dillard, Irving. "Gabriel Duvall." In <em>The Justices of the United States Supreme Court, 1789-1969: Their Lives and Major Opinions</em>, vol 1, edited by Leon Friedman and Fred L. Israel. New York: R. R. Bowker Co., 1969.</p>

<p style="margin-left:.5in;text-indent:-.5in">Easterbrook, Frank H. "The Most Insignificant Justice: Further Evidence." 50 <em>University of Chicago Law Review</em> 481 (1983).</p>

<p style="margin-left:.5in;text-indent:-.5in">Finkelman, Paul and Donald R. Kennon. <em>In the Shadow of Freedom: The Politics of Slavery in the National Capital</em>. Athens: Ohio University Press, 2011.</p>

<p style="margin-left:.5in;text-indent:-.5in">Fitzpatrick, Sandra. <em>The Guide to Black Washington: Places and Events of Historical and Cultural Significance in the Nation's Capital.</em> Rev. Illus. Ed. New York: Hippocrene Books, 2001.</p>

<p style="margin-left:.5in;text-indent:-.5in">Gillette, Jr., Howard, ed. <em>Southern City, National Ambition: The Growth of Early Washington, D.C., 1800-1860</em>. Washington: George Washington University Center for Washington Area Studies, 1995.</p>

<p style="margin-left:.5in;text-indent:-.5in">Green, Constance McLaughlin. <em>The Secret City: A History of Race Relations in the Nation's Capital.</em> Princeton: Princeton University Press, 1967.</p>

<p style="margin-left:.5in;text-indent:-.5in">Gudmestad, Robert H. "Slave Resistance, Coffles, and the Debates over Slavery in the Nation's Capital." In <em>The Chattel Principle: Internal Slave Trades in the Americas</em>, edited by Walter Johnson. New Haven: Yale University Press, 2005.</p>

<p style="margin-left:.5in;text-indent:-.5in">Harrold, Stanley. <em>Subversives: Antislavery Community in Washington, D.C., 1828-1865</em>. Baton Rouge: Louisiana State University Press, 2003.</p>

<p style="margin-left:.5in;text-indent:-.5in">Jackson, Maurice. "Washington, D.C.: From the Founding of a Slaveholding Capital to a Center of Abolitionism." <em>Journal of African Diaspora Archaeology and Heritage</em> 2, no. 1 (May 2013): 38-64.</p>

<p style="margin-left:.5in;text-indent:-.5in">Kamoie, Laura. "Urban Plantations in the National City: Slavery, Republican Ideology, and Conflict on the Streets of Early Washington." In <em>Material Culture in Anglo-America: Regional Identity and Urbanity in the Tidewater, Lowcountry, and Caribbean</em>, edited by David S. Shields. Columbia: University of South Carolina Press, 2009.</p>

<p style="margin-left:.5in;text-indent:-.5in">Laprade, William T. "The Domestic Slave Trade in the District of Columbia." <em>The Journal of Negro History</em> 11, no. 1 (1926): 17-34.</p>

<p style="margin-left:.5in;text-indent:-.5in">Lesko, Kathleen M. <em>Black Georgetown Remembered: A History of its Black Community from the Founding of "The Town of George" in 1751 to the Present Day.</em> Washington: Georgetown University Press, 1991.</p>

<p style="margin-left:.5in;text-indent:-.5in">Masur, Kate. <em>An Example for All the Land: Emancipation and the Struggle over Equality in Washington, D.C.</em> Chapel Hill: University of North Carolina Press, 2010.</p>

<p style="margin-left:.5in;text-indent:-.5in">Morely, Jefferson.<em> Snow-Storm in August: Washington City, Francis Scott Key, and the Forgotten Race Riot of 1835.</em> New York: Nan A. Talese, 2012.</p>

<p style="margin-left:.5in;text-indent:-.5in">Morris, Jeffrey Brandon. <em>Calmly to Poise the Scales of Justice: A History of the Courts of the District of Columbia Circuit.</em> Durham: Carolina Academic Press, 2001.</p>

<p style="margin-left:.5in;text-indent:-.5in">Moultrie, H. Carl. "The District of Columbia Superior Court." 28 <em>Catholic University Law Review</em> 717.</p>

<p style="margin-left:.5in;text-indent:-.5in">Newman, Jr., Theodore R. "The State of the District of Columbia Court of Appeals." 27 <em>Catholic University Law Review</em> 453.</p>

<p style="margin-left:.5in;text-indent:-.5in">Pacheco, Josephine F. <em>The Pearl: A Failed Slave Escape on the Potomac.</em> Chapel Hill: University of North Carolina Press, 2005.</p>

<p style="margin-left:.5in;text-indent:-.5in">Roberts, John. "The Most Insignificant Justice Ever." Speech to Federalist Society, Washington, D.C., FORA TV, November 16, 2007.</p>

<p style="margin-left:.5in;text-indent:-.5in">Russell, Hillary. "The Operation of the Underground Railroad in Washington, D.C., c. 1800-1860." <em>The Historical Society of Washington, D.C. and the National Park Service</em>, July 2001.</p>

<p style="margin-left:.5in;text-indent:-.5in">Voorhees, Theodore. "The District of Columbia Courts: A Judicial Anomaly." 29 <em>Catholic University Law Review</em> 918.</p>

<p style="margin-left:.5in;text-indent:-.5in">Winkle, Kenneth. <em>Lincoln's Citadel: The Civil War in Washington, D.C.</em> New York: W. W. Norton & Co., 2013.</p>

<p>&#160;</p>

  <h4>Slavery</h4>

<p style="margin-left:.5in;text-indent:-.5in">Baptist, Edward E. <em>The Half Has Never Been Told: Slavery and the Making of American Capitalism</em>. New York: Basic Books, 2014.</p>

<p style="margin-left:.5in;text-indent:-.5in">Bryant, Sherwin Keith. "Slavery and the Context of Ethnogenesis: Africans, Afro-creoles, and the Realities of Bondage in the Kingdom of Quito, 1600-1800." PhD diss., The Ohio State University, 2005.</p>

<p style="margin-left:.5in;text-indent:-.5in">Camp, Stephanie M. H. <em>Closer to Freedom: Enslaved Women and Everyday Resistance in the Plantation South.</em> Chapel Hill: University of North Carolina Press, 2004.</p>

<p style="margin-left:.5in;text-indent:-.5in">Corrigan, Mary Beth. "Imaginary Cruelties? A History of the Slave Trade in Washington, D.C." <em>Washington History</em> 13, no. 2 (Fall/Winter 2001/2002): 4-27.</p>

<p style="margin-left:.5in;text-indent:-.5in">Davis, David Brion. <em>The Problem of Slavery in the Age of Revolution, 1770-1823.</em> Ithaca: Cornell University Press, 1975.</p>

<p style="margin-left:.5in;text-indent:-.5in">--------. <em>The Problem of Slavery in the Age of Emancipation</em>. New York: Alfred A. Knopf, 2014.</p>

<p style="margin-left:.5in;text-indent:-.5in">Fields, Barbara J. <em>Slavery and Freedom on the Middle Ground: Maryland during the Nineteenth Century</em>. New Haven: Yale University Press, 1984.</p>

<p style="margin-left:.5in;text-indent:-.5in">Gudmestad, Robert H. <em>A Troublesome Commerce: The Transformation of the Interstate Slave Trade.</em> Baton Rouge: Louisiana State University Press, 2003.</p>

<p style="margin-left:.5in;text-indent:-.5in">Murphy, Thomas, S.J. <em>Jesuit Slaveholding in Maryland, 1717-1838</em>. New York: Routledge, 2001.</p>

<p style="margin-left:.5in;text-indent:-.5in"><a href="http://slavery.georgetown.edu/report/">Report of the Working Group on Slavery, Memory, and Reconciliation to the President of Georgetown University</a>. Washington, D.C., 2016.</p>

<p style="margin-left:.5in;text-indent:-.5in">Rothman, Adam. <em>Beyond Freedom's Reach: A Kidnapping in the Twilight of Slavery</em>. Cambridge: Harvard University Press, 2015.</p>

<p style="margin-left:.5in;text-indent:-.5in">Taylor, Alan. <em>The Internal Enemy: Slavery and War in Virginia, 1772-1832.</em> New York: W. W. Norton & Co., 2013.</p>

<p style="margin-left:.5in;text-indent:-.5in">Thomas, William G., III. "<a href="https://www.washingtonpost.com/opinions/when-enslaved-people-sued-georgetown-for-freedom/2016/08/19/b6b0e430-5406-11e6-88eb-7dda4e2f2aec_story.html">When enslaved people sued Georgetown’s founders for freedom</a>." <em>The Washington Post</em>, August 19, 2016. </p>

<p style="margin-left:.5in;text-indent:-.5in">Weiner, Mark. <em>Black Trials: Citizenship from the Beginnings of Slavery to the End of Caste.</em> New York: Knopf, 2004.</p>

<p style="margin-left:.5in;text-indent:-.5in">Whitman, T. Stephen. <em>Challenging Slavery in the Chesapeake: Black and White Resistance to Human Bondage, 1775-1865.</em> Baltimore: Maryland Historical Society, 2007.</p>

<p style="margin-left:.5in;text-indent:-.5in">Williams, Heather Andrea. <em>Help Me to Find My People: The African American Search for Family Lost in Slavery.</em> Chapel Hill: University of North Carolina Press, 2012.</p>

<p style="margin-left:.5in;text-indent:-.5in">Wilson, Carole. <em>Freedom at Risk: The Kidnapping of Free Blacks in America 1780-1865.</em> Louisville: University Press of Kentucky, 1994.</p>

<p>&#160;</p>

  <h4>Law & Legal History</h4>

<p style="margin-left:.5in;text-indent:-.5in">Bell, Richard. <em>We Shall Be No More: Suicide and Self Government in the Newly United States.</em> Cambridge: Harvard University Press, 2012.</p>

<p style="margin-left:.5in;text-indent:-.5in">Bush, Jonathan A. "Free to Enslave: The Foundations of Colonial American Slave Law." <em>Yale Journal of Law and the Humanities</em> 5, no. 2 (1993): 417-470.</p>

<p style="margin-left:.5in;text-indent:-.5in">Edwards, Laura. <em>The People and Their Peace: Legal Culture and the Transformation of Inequality in the Post-Revolutionary South.</em> Chapel Hill: University of North Carolina Press, 2009.</p>

<p style="margin-left:.5in;text-indent:-.5in">Gilmer, Jason A. "Suing for Freedom: Interracial Sex, Slave Law, and Racial Identity in the Post Revolutionary and Antebellum South." 82 <em>North Carolina Law Review</em> 535 (2004): 535-619.</p>

<p style="margin-left:.5in;text-indent:-.5in">Gross, Ariela. "Reflections on Law, Culture, and Slavery." In <em>Slavery and the American South</em>, edited by Winthrop D. Jordan. University Press of Mississippi, 2003.</p>

<p style="margin-left:.5in;text-indent:-.5in">Morris, Thomas T. <em>Southern Slavery and the Law, 1619-1860</em>. Chapel Hill: University of North Carolina Press, 1996.</p>

<p style="margin-left:.5in;text-indent:-.5in">Papenfuse, Eric. "From Recompense to Revolution: <em>Mahoney v. Ashton</em> and the Transfiguration of Maryland Culture, 1791-1802." <em>Slavery and Abolition</em> 15, no. 3 (December 1994).</p>

<p style="margin-left:.5in;text-indent:-.5in">Schweninger, Loren. "Freedom Suits, African American Women, and the Genealogy of Slavery." T<em>he William and Mary Quarterly</em> 71, no. 1 (2014): 35-62.</p>

<p style="margin-left:.5in;text-indent:-.5in">Wiecek, William M. "Slavery and Abolition Before the United States Supreme Court, 1820-1860." <em>The Journal of American History</em> 65, no. 1 (1978): 34-59.</p>
	
<p style="margin-left:.5in;text-indent:-.5in">--------. "Somerset: Lord Mansfield and the Legitimacy of Slavery in the Anglo-American World." 42 <em>University of Chicago Law Review</em> 1 (Autumn 1974): 86-146.</p>

<p style="margin-left:.5in;text-indent:-.5in">Wise, Stephen. <em>Though the Heavens May Fall: The Landmark Trial that Led to the End of Human Slavery</em>. Cambridge: Harvard University Press, 2005.</p>

<p style="margin-left:.5in;text-indent:-.5in">Wong, Edlie L. <em>Neither Fugitive nor Free: Atlantic Slavery, Freedom Suits and the Legal Culture of Travel</em>. New York: New York University Press, 2009.</p>

