

<h2>How to Cite</h2>

<p><em>OSCYS</em> encourages citation for various areas of the website according to the Chicago/Turabian notes and bibliography citation style.</p>

  <h3>Citing <em>O Say Can You See</em></h3>

  <p>Thomas III, William G., Kaci Nash, Laura Weakly, Karin Dalziel, and Jessica Dussault. <em>O Say Can You See: Early Washington, D.C., Law & Family</em>. University of Nebraska-Lincoln. Accessed September 11, 2015. http://earlywashingtondc.org </p>

  <h3>Citing Cases</h3>

  <p><em>Mima Queen & Louisa Queen v. John Hepburn</em>. In <em>O Say Can You See: Early Washington, D.C., Law & Family</em>, edited by William G. Thomas III, et al. University of Nebraska-Lincoln. Accessed September 11, 2015. http://earlywashingtondc.org/cases/oscys.caseid.0011</p>

  <h3>Citing Documents</h3>

  <p>"Statement of Facts." June 22, 1818. <em>Sarah v. Elijah Taylor</em>. In <em>O Say Can You See: Early Washington, D.C., Law & Family</em>, edited by William G. Thomas III, et al. University of Nebraska-Lincoln. Accessed September 11, 2015. http://earlywashingtondc.org/doc/oscys.case.0386.004
</p>

  <h3>Citing People</h3>

  <p>"Van Horsigh, Joseph Francis." In <em>O Say Can You See: Early Washington, D.C., Law & Family</em>, edited by William G. Thomas III, et al. University of Nebraska-Lincoln. Accessed September 11, 2015. http://earlywashingtondc.org/people/per.004411</p>

  <h3>Citing Families</h3>

  <p>"Bell Family Network." In <em>O Say Can You See: Early Washington, D.C., Law & Family</em>, edited by William G. Thomas III, et al. University of Nebraska-Lincoln. Accessed September 11, 2015. http://earlywashingtondc.org/families/bell</p>

  <h3>Citing Stories</h3>

  <p>Carter, Candy. "'I Did Not Want to Go': An Enslaved Woman's Leap into the Capital's Conscience." In <em>O Say Can You See: Early Washington, D.C., Law & Family</em>, edited by William G. Thomas III, et al. University of Nebraska-Lincoln. Accessed September 11, 2015. http://earlywashingtondc.org/stories/enslaved_womans_leap</p>
 