

<h2>Credits & Staff</h2>

  <h3>Project Participants</h3>

  <p><b><a href="http://history.unl.edu/william-thomas-iii" target="new">William G. Thomas III</a></b>, University of Nebraska-Lincoln</p>

  <p><b><a href="http://liberalarts.iupui.edu/directory/bio/guiliano" target="new">Jennifer Guiliano</a></b>, Indiana University</p>

  <p><b><a href="http://mith.umd.edu/people/person/trevor-munoz/" target="new">Trevor Muñoz</a></b>, Maryland Institute for Technology in the Humanities</p>
  
  
  
  <div class="row">
  <div class="col-md-6">
	  
	  <h3>Project Staff</h3>

          <p><b><a href="http://cdrh.unl.edu/about/staff/nash" target="new">Kaci Nash</a></b>, Project Manager</p>

          <p><b><a href="http://cdrh.unl.edu/about/staff/weakly" target="new">Laura Weakly</a></b>, Metadata Encoding Specialist</p>

          <p><b><a href="http://cdrh.unl.edu/about/staff/dalziel" target="new">Karin Dalziel</a></b>, Digital Design &amp; Development Specialist</p>

          <p><b><a href="http://cdrh.unl.edu/about/staff/dussault" target="new">Jessica Dussault</a></b>, Programmer</p>

          <p><b>Jeremiah Bauer</b>, Project Manager for Virtual Conferences</p>
	  
  </div><!-- /column -->
  <div class="col-md-6">
	  
	   <h3>Research Assistants</h3>

          <p>Elizabeth Askren<br>
          Gail Blankenau<br>
          Stephanie Camerone<br> 
          Michael Dick<br>
          Derek Leininger<br> 
          Kylie McCormick<br>
          David McMichael<br>
          Ashley Towle</p>
	  
  </div><!-- /column -->
</div><!-- /row -->

  