

<h2>Credits & Staff</h2>

  <h3>Project Participants</h3>

  <p><b>William G. Thomas III</b>, University of Nebraska–Lincoln (UNL)</p>

  <p><b>Jennifer Guiliano</b>, Indiana University</p>

  <p><b>Trevor Muñoz</b>, Maryland Institute for Technology in the Humanities (MITH)</p>
  
	  
	  <h3>Project Staff</h3>

          <p><b>Kaci Nash</b>, UNL, Project Manager &amp; Researcher</p>

          <p><b>Laura Weakly</b>, UNL, Metadata Encoding Specialist</p>

          <p><b>Karin Dalziel</b>, UNL, Digital Design &amp; Development Specialist</p>

          <p><b>Jessica Dussault</b>, UNL, Programmer</p>

	   <h3>Project Contributors</h3>

          <p><b>Gail Blankenau</b>, Genealogist</p>

          <p><b>Patrick Hoehne</b>, UNL, GIS Specialist</p>

          <p><b>Kirsten Keister</b>, MITH, Logo Designer</p>

          <p><b>Jeremiah Bauer</b>, UNL, Project Manager for Virtual Conferences</p>

	    
	   <h3>Research Assistants</h3>

          <p>Elizabeth Askren</p>
          <p>Samantha Bryant</p>
          <p>Stephanie Camerone</p>
          <p>Michael Dick</p>
          <p>Autumn Green</p>
          <p>Christy Hyman</p>
          <p>Derek Leininger</p>
          <p>Heidi K. Martin</p>
          <p>Kylie McCormick</p>
          <p>David McMichael</p>
          <p>Ellyzabeth Morales-Ledesma</p>
          <p>Daniel Schmaderer </p>
          <p>Ashley Towle</p> 
