

<h2>Credits & Staff</h2>

  <h3>Project Participants</h3>

  <p><b><a href="http://history.unl.edu/william-thomas-iii" target="new">William G. Thomas III</a></b>, University of Nebraska–Lincoln (UNL)</p>

  <p><b><a href="http://liberalarts.iupui.edu/directory/bio/guiliano" target="new">Jennifer Guiliano</a></b>, Indiana University</p>

  <p><b><a href="http://mith.umd.edu/people/person/trevor-munoz/" target="new">Trevor Muñoz</a></b>, Maryland Institute for Technology in the Humanities (MITH)</p>
  
	  
	  <h3>Project Staff</h3>

          <p><b><a href="http://cdrh.unl.edu/about/staff/nash" target="new">Kaci Nash</a></b>, UNL, Project Manager &amp; Researcher</p>

          <p><b><a href="http://cdrh.unl.edu/about/staff/weakly" target="new">Laura Weakly</a></b>, UNL, Metadata Encoding Specialist</p>

          <p><b><a href="http://cdrh.unl.edu/about/staff/dalziel" target="new">Karin Dalziel</a></b>, UNL, Digital Design &amp; Development Specialist</p>

          <p><b><a href="http://cdrh.unl.edu/about/staff/dussault" target="new">Jessica Dussault</a></b>, UNL, Programmer</p>

	   <h3>Project Contributors</h3>

          <p><b>Gail Blankenau</b>, Genealogist</p>

          <p><b><a href="https://mith.umd.edu/people/person/kirsten-keister/" target="new">Kirsten Keister</a></b>, MITH, Logo Designer</p>

          <p><b>Jeremiah Bauer</b>, UNL, Project Manager for Virtual Conferences</p>

          <p><b>Patrick Hoehne</b>, UNL, GIS Specialist</p>
	  

	  
	   <h3>Research Assistants</h3>

<p>Elizabeth Askren</p>
<p>Samantha Bryant</p>
<p>Stephanie Camerone</p>
<p>Michael Dick</p>
<p>Christy Hyman</p>
<p>Derek Leininger</p>
<p>Kylie McCormick</p>
<p>David McMichael</p>
<p>Ashley Towle</p>


  