

<h2>Credits & Staff</h2>

  <h3>Project Participants</h3>

  <p><b>William G. Thomas III</b>, University of Nebraska–Lincoln (UNL)</p>

  <p><b>Jennifer Guiliano</b>, Indiana University</p>

  <p><b>Trevor Muñoz</b>, Maryland Institute for Technology in the Humanities (MITH)</p>
  
	  
	  <h3>Project Staff</h3>

          <p><b>Kaci Nash</b>, UNL, Project Manager &amp; Researcher</p>

          <p><b>Laura Weakly</b>, UNL, Metadata Encoding Specialist</p>

          <p><b>Karin Dalziel</b>, UNL, Digital Design &amp; Development Specialist</p>

          <p><b>Jessica Dussault</b>, UNL, Programmer</p>

	   <h3>Project Contributors</h3>

          <p><b>Gail Blankenau</b>, Genealogist</p>

          <p><b>Patrick Hoehne</b>, UNL, GIS Specialist</p>

          <p><b>Kirsten Keister</b>, MITH, Logo Designer</p>

          <p><b>Jeremiah Bauer</b>, UNL, Project Manager for Virtual Conferences</p>

	    
	   <h3>Research Assistants</h3>

          <p><b>Elizabeth Askren</b>, UNL</p>
          <p><b>Samantha Bryant</b>, UNL</p>
          <p><b>Stephanie Camerone</b>, UNL</p>
          <p><b>Michael Dick</b>, UNL</p>
          <p><b>Christy Hyman</b>, UNL</p>
          <p><b>Derek Leininger</b>, University of Maryland</p>
          <p><b>Kylie McCormick</b>, UNL</p>
          <p><b>David McMichael</b>, University of Maryland</p>
          <p><b>Daniel Schmaderer</b>, Lincoln High</p>
          <p><b>Ashley Towle</b>, University of Maryland</p>
 

    <h3>Digital Legal Research Lab</h3>

        <p><b>Ellis Chen</b>, Grinnell College</p>
        <p><b>Isabelle S. Childs</b>, Oklahoma University</p>
        <p><b>Autumn Green</b>, Hollins University</p>
        <p><b>Sophia F. Hayes</b>, St. Olaf College</p>
        <p><b>Gabrielle Hope</b>, University at Albany</p>
        <p><b>Grace Ogechi Kevin-Aligah</b>, Vanderbilt University</p>
        <p><b>Esme M. Krohn</b>, Carleton College</p>
        <p><b>Heidi K. Martin</b>, University of Montana</p>
        <p><b>Somi L. Mbaukwu</b>, New York University</p>
        <p><b>Ellyzabeth Morales-Ledesma</b>, St. Edward's University</p>
        <p><b>Santiago Zuniga</b>, Florida Southern College</p>
