

<h2>Description of Materials</h2>

<h3>People & Relationships</h3>

<p>The biographical and relationship information featured on the person pages is derived from the case documents. The documents, in most instances, are the only available sources for insight into the lives of these individuals. In many cases, the documents are incomplete or difficult to read due to illegible handwriting, damaged pages, or antiquated spelling, grammar, and punctuation. For a few prominent individuals, additional research has been conducted to supplement the biographical information.</p>

<h3>Cases & Documents</h3>

<p>The court records for the sessions of the Circuit Court of the District of Columbia held at Washington are located at the National Archives in Washington, D.C., as "Records of the U.S. District Court for the District of Columbia," Record Group 21.6, "Case Papers, 1802-63," National Archives and Records Administration, Washington, D.C. Those cases heard before the Court at Alexandria sessions are held elsewhere, at the Library of Virginia in Richmond.</p>

<p>The minutes of the Circuit Court have been reproduced on microfilm available on Minutes of the U.S. Circuit Court for the District of Columbia, 1801–1863 (National Archives Microfilm Publication M1021).</p>

<p>Related cases have been pulled from the records of the General Court of the Western Shore, Court of Appeals, Charles County Court, and Prince George's County Court housed at the Maryland State Archives in Annapolis, Maryland.</p>