<h2>About</h2>

<!-- TODO Turn these into proper links -KD -->

<ul class="about_nav">
  <li><a href="about/description">Description of Materials</a></li>
  <li><a href="about/credits">Credits & Staff</a></li>
  <li><a href="about/technical">Technical Information</a></li>
  <li><a href="about/data">Data Download & Query</a></li>
</ul>


<!--
<ul class="about_nav">
  <li><%# link_to "Description of Materials", ab_desc_path %></li>
  <li><%# link_to "Credits and Staff", ab_credits_path %></li>
  <li><%# link_to "Technical Information", ab_tech_path %></li>
  <li><%# link_to "Data Download/Query", ab_data_path %></li>
</ul>
-->

<p>This project explores multigenerational black and white family networks in early Washington, D.C., by collecting, digitizing, making accessible, and analyzing thousands of case files from the Circuit Court for the District of Columbia, records of Maryland courts, and related documents about these families. Scholars from the University of Nebraska-Lincoln and the University of Maryland will collaborate by uncovering the web of litigants, jurists, legal actors, and participants in this community, and by placing these family networks in the foreground of our interpretive framework of slavery and national formation.</p>

<p>Funding and support are provided by the National Endowment for the Humanities, the Center for Digital Research in the Humanities at the University of Nebraska–Lincoln, and the University of Maryland’s Maryland Institute for Technology in the Humanities.</p>