/* @override http://localhost:3000/assets/hypertree.css?body=1 */

/* @override http://localhost:3000/assets/hypertree.css?body=1 */

/* Must set height:100% on everything to use height:100% later. Also reset padding to 0 */



html, body, #container {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;

}

* {
	/*margin: 0;
	padding: 0;*/
}

a {
  color: #5A8597;
  text-decoration: none; }
  a:hover, a:focus {
    color: #3d5b67;
    text-decoration: none; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    
    outline-offset: -2px; }

#left-container, 
#right-container,
#key ul li span {
	background-color:  #ECECEC;
}

/* Set up basic Layout */
#left-container {
	float: left;
	width: 20%;
	height: 100%;
	z-index: 1000;
}

#center-container {
	height: 100%;
	width: 60%;
	float: left;
	z-index: 100;
	overflow: hidden;
}

/* Might not need this -KMD */
#infovis {
	width: 100%;
	height: 100%;
}

#right-container {
	float: right;
	width: 20%;
	height: 100%;
	overflow: scroll;
	z-index: 1000;
	/*background-color: #fbd03e;*/
	margin: 0;
	padding: 0;
	overflow-y: scroll;
overflow-x: hidden;
}

#left-container .inner,
#right-container #inner-details {
	margin: 10px;

	/*height: 100%;*/
}



/* Adding back in old styles */

#log {
    position:absolute;
    top:10px;
    font-size:1em;
    color:#000;
    display: none;
}

h4 {
	font-size: 1.2em;
	margin: .3em 0;
	font-weight: 900;
}

#right-container p {
	margin: 0 0 .4em 0;
	font-size: .9em;
	letter-spacing: .01em;
} 

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

/* Pan and Zoom */

#panZoomControl {
	text-align: center;
	border-top: solid 1px #aaa;
	padding: 20px 0px;
	
}

#panZoomControl_pan {
	width: 60%;
	float: right;
}

#panZoomControl_zoom {
	
}


#panZoomControl div {

}

#panZoomControl button {
	font-size: 1.5em;
	background-color: #fff;
	border:  solid 1px #aaa;
	width: 1.5em;
	border-radius: 5px;
	color: #565656;

}

/* Key*/

#key {
	
	overflow: visible;
	border-top: solid 1px #aaa;
	
}

#key ul {
	list-style-type: none;
	margin: 10px 0 0 0;
	padding: 0;
	font-size: .9em;
}

#key ul li {
	border-bottom: solid 3px #000;
}

#key ul li span {
	margin-bottom: -.5em;
	
	display: block;
	width: 50%;
	margin-top: 1em;
	
}

#key ul li.rtype_legal {
	border-color: #6D96A7;
	
}

#key ul li.rtype_family {
	border-color: #a51400;
}

#key ul li.rtype_employment {
	border-color:#4A5131;
}

#key ul li.rtype_acquaintance {
	border-color:orange;
}

#key ul li.rtype_multiple {
	border-color:#ADADAD;
}

#key ul li.rtype_missing {
	border-color:magenta;
}

/* Back button */

.back_button {
	
}
.back_button a {
	border: 1px #aaa solid;
	padding: 10px;
	font-size: 1.2em;
	background-color: #fff;
	display: block;
	text-align: center;

}

.back_button a:hover {
	border: 1px #a51400 solid;

}

/* Visualization types */

.visualization_types {
	border-top: solid 1px #aaa;
	margin: 20px 0;
}

.visualization_types ul {
list-style: none;
padding: 0;
margin: 0;
}

.visualization_types li {

}

.visualization_types a {
border: 1px #aaa solid;
	padding: 5px;
	font-size: 1em;
	background-color: #fff;
	display: block;
	text-align: center;
}

.visualization_types a:hover {
	border: 1px #a51400 solid;

}



/* Make borders slightly less wide for widescreens */
@media (min-width: 1200px) {
	#left-container {
		width: 15%;
	}

	#center-container {
		width: 70%;
	}

	#right-container {
		width: 15%;
	}
}

/* Tablet view */
@media (max-width: 768px) {
	#left-container {
		width: 100%;
		height: auto;
	}
	
	#center-container {
		width: 80%;
	}
	
	#right-container {
		width: 20%;
	}
	
	.back_pan_group {
	width: 30%;
	float: left;

}
			
.visualization_types {
	width: 30%;
	float: left;
	margin-left: 3%;
	margin-top: 0;
	border: none;
}

#key {
	
	width: 30%;
	float: left;
	margin-left: 3%;
	margin-top: 0;
	border: none;
	margin-bottom: 1em;
	
}

#panZoomControl button {
	font-size: 1.3em;
	

}
	

.inner {
	overflow: auto;
}

	
}
