/* ==|== primary styles =====================================================
   Author: Karin Dalziel, Kaci Nash
   ========================================================================== */


/* Tables */




table {
    margin-left:auto; 
    margin-right:auto;
    width:100%;
}

table td {
	/*border-top: solid 1px #aaa;*/
	/*border-bottom: solid 1px #aaa;*/
	padding: 5px 5px;
	padding-right: 25px;
}


.hr {
	border: none;
    border-top: solid 1px #aaa;
	display: block;
	height: 1px;
	margin: 10px 0;
}

.right {
	float: right;
	margin: 0 0 10px 10px;
	clear: right;
}

/* Page images and figures */

.pageimage {
	float: right;
	clear: right;
	margin: -4px 0px 10px 10px;
	text-align: left;
	/*width: 125px;*/
	/*background: #aaa;*/
	border: 3px solid #ccc;
}

.pageimage img {
	border: 1px solid #ccc;
/* This doesn't do anything... */
}

/* Not using figures right now */
/*.figure {
	float: left;
	clear: left;
	margin:  0 10px 10px -135px;
	z-index: 20;
	width: 125px;
	text-align: right;
}*/

.page_hr {
	clear: right;
	margin: 0 -10px 0 0;
	padding: 0;
}

.fw h6 {
	float: left;
	clear: left;
	margin:  0 10px 10px -135px;
	z-index: 20;
	width: 125px;
	text-align: right;
}

.figure a {
	text-decoration: none; /* Remove underlines from figure links */
}


img.display {
	border: 1px solid #aaa;
}

.figure_holder {
	display: block;
	float: none;
	background: #f2f4e6;
	padding: 5px;
	margin-bottom: 10px;
	overflow: auto;
}

.figure {
	display: block;
	float: left;
	overflow: auto;
	font-size: .9em;
	padding: 5px;
	width: 160px;
}

.figure img.display, .figure_description {
	float: left;
	display: block;
}

.figure_description {
	width: 125px;
	display: block;
	font-size: .9em;
}

.pageimage a {
	font-size: .8em;
}


/* Petition display */

.dateline, .closer, .editorial {	
}

.ab {	
   margin: 25px 0;
}


.bibliography {
	line-height: 1.2em;
}

.bibliography p {
	clear: both;
	padding: 0;
	margin: 5px;
}

.bibliography p.metadatakeywords strong {
	padding: 3px 0px;
	margin: 2px 0;
	float: left;
}

del {
    color: #49502F;     
}

gap {
    color: #60693e;
    /*font-style:italic;*/
}


unclear {
	/*color: #49502F;*/
}

.callout {
	border: 1px solid #b2b0b7;
	background-color: #ececec;
	margin: .5em 0 .5em 0;
	padding: 5px 15px;
	clear: both;
}

.callout .selected {
	border: 1px solid #d9d8db;
	background-color: #ffffff;
	text-decoration:none;
}


.morelink a {
font-size: .8em;
}

.simple-list {
padding: 0;    
}

/* Tooltips and switch boxes */

#tooltip {
	position: absolute;
	z-index: 9999;
	color: #000;
	font-size: .9em;
	background-color: #fff;
	border: 1px solid #aaa;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	padding: 10px;
	text-align: left;
	-moz-box-shadow: 5px 5px 5px #aaa;
	-webkit-box-shadow: 5px 5px 5px #aaa;
	box-shadow: 5px 5px 5px #aaa;
	line-height: 1.4;
	max-width: 400px;
}

#tooltip.inlinenote {
	max-width: 400px !important;
}

a #tooltip {
	text-decoration: none;
}

div#regularized_text_switch_box {
	font-style: italic;
	color: #b33f2d;
	border: 1px #aaa solid;
	padding: 10px;
	margin: 5px -11px 5px -11px;
	background-color: #ececec;
	display: block;
	text-decoration: none;
}

div#regularized_text_switch_box a {
	text-decoration: none;
}

.persName {
}

.subjectLink {
	border: 0px solid #b2b0b7;
	padding: 2px;
	margin: 2px;
	background-color: #f2f2f2;
}

.singlespace {
}

a.sic, a.orig {
	text-decoration: none !important;
	border-bottom: 1px dotted #939393;
}

div#switch_box {
	font-style:italic;
	/* color: #b33f2d; */
	border: 1px #aaa solid;
	padding: 10px;
	/* margin: 5px -11px 5px -11px; */
	margin: 0 0 10px 0;
	background-color: #ececec;
	display: block;
	text-decoration:none;
}


/* Pagination */
.jump_pagination {
	/*clear: both;*/
	border: solid #aaa 1px;
	display: block;
	padding: .2em;
	margin: .2em 0;
}

.jump_pagination form {
	display: inline-block;
	margin: 0 .5em;
}


/*People*/

.letter_pagination {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: top;
	line-height: 1em;
}

.letter_pagination li {
	display: inline-block;
}

.letter_pagination li a {
	display: inline-block;
	vertical-align: top;
	height: 2.5em;
	padding: .2em .2em .2em .2em;
	width: 2.05em;
	margin-bottom: .2em;
	text-align: center;
	border: 1px solid #ddd;
	display: inline-block;
	border-radius: 2px;


	
}

.letter_pagination li a:hover  {
	background-color: #6b96a5;
	color: #fff;
}

.letter_pagination li a span {
	display: block;
	font-size: .7em;
}


.main_alpha_menu  .letter_pagination {
	text-align: center;

}

.browse_alpha_menu .letter_pagination li a {
	width: 3.2em;
	font-size: 1.1em;
}

.browse_alpha_menu .letter_pagination {
	line-height: 1.2em;
}

	
	.cases select {width:100%}
	
	/* CaseID */
	
	.commentary .bibl {
     font-style: italic;
	
}


.source_date, .source_note {
	margin-left: .1em;
	font-size: .8em;
	color: #888;

}

.source_date {
	
}

.source_note a {
	border: none;
}






.p {
	display: block;
}


/* Jump Menu */

.jump_menu {
	/*padding-top: .5em;*/
	
}

.cases .jump_menu {
	margin-top: .5em;
}

.jump_menu a {
	margin-top: .5em;
	border: 1px solid #ddd;
	display: inline-block;
	border-radius: 4px;
	padding: .1em .3em;
	background-color:#fff;
}

.jump_menu h4 {
    display:inline;
}

/* Added padding to the bottom to make anchors work better, nut not on small screens */

@media (min-width: 768px) {

body {
	padding:  0 0 400px 0;
}

}



/* ==|== family tree ======================================================== */
 
 ul.tree, ul.tree ul {
     list-style-type: none;
     background: url(/assets/vline.jpg) repeat-y;
     margin: 0;
     padding: 0;
   }
   
   ul.tree ul {
     margin-left: 30px;
   }
   
   ul.tree a {
     color: #396a78;
     /*text-decoration:underline;*/
   }
   
    ul.tree a:hover {
	color: #ac0000;
    }
   
   ul.tree ul ul {
     margin-left: 50px;
   }
   
   ul.tree ul ul ul {
     margin-left: 70px;
   }

   ul.tree li {
     margin: 0;
     padding: 0 12px;
     line-height: 25px;
     background: url(/assets/node.jpg) no-repeat;
     color: #000;
     font-weight: normal;
   }

   ul.tree li:last-child {
     background: #fff url(/assets/lastnode.jpg) no-repeat;
   }

/*  .gen {
    color: #000;
    font-style:italic;
    font-size: .9em;
    }*/ 

    a.gen, a.gen:visited, a.gen:active {
    color: #000;
    }

    .gen {
    color: #000;
    }

    a.cas, a.cas:visited, a.cas:active {
/*    color: #780000;*/
    color: #66713e;
    }

    .cas {
    /*color: #780000;*/
    color: #66713e;
    }




/* ==|== Expand Text ======================================================== */
.hidden { 
	display: none;
	}

.unhidden { 
	display: block; 
	}	



/* Metadata box */

.meta_label {
	font-weight: bold;
}

.meta_data ul {
	margin: 0 0 .6em 0;
	padding: 0;
	list-style: none;
}

.metadata .meta_data ul li {
	display: inline-block;
	margin: .2em .2em 0 0;
}

.metadata .meta_data ul li a {
	display: inline-block;
	/*margin-top: .5em;*/
	border: 1px solid #ddd;
	display: inline-block;
	border-radius: 4px;
	padding: .1em .3em;
	background-color:#fff;
	
	
}


a.selected {
	background-color: #6b96a5;
	color: #fff;
	
}


.visualize_link {
	padding: 8em 0 0em 0;
	display: block;
	
	background: url(visualization_illustration.png) no-repeat center center;
	background-size: 80%;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.visualize_link .btn-default {
	background-color: RGBA(255,255,255,.7);
	color: #000;
	border: 0;
}

.visualize_link .btn-default:hover {
	border: none;
	color: #911002;

}



.case {
	overflow: auto;
}








